<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title th:text="${title}"></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script th:replace="header :: header"></script>
</head>

<body>
<div th:replace="navbar :: navbar(${user})"></div>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
        <div th:replace="slider :: slidermenu(${'zt_pj_gjgz'})"></div>
        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="/">主页</a>
                    </li>
                    <li class="active">
                        <a href="#">监控管理配置</a>
                    </li>
                    <li class="active">
                        <a href="#">告警规则</a>
                    </li>
                </ul><!-- .breadcrumb -->
                <div class="nav-search" id="nav-search">
                    <span class="input-icon">
                        <input type="text" placeholder="搜索 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                        <i class="icon-search nav-search-icon"></i>
                    </span>
                </div><!-- #nav-search -->
            </div>

        </div><!-- /.main-content -->
        <div class="page-content">
            <div>
                <div class="col-xs-10">
                    <div id="alarmGrid" style="position: absolute;width: 105%"></div>
                </div>
            </div>
            <!--alarm模板-->
            <div id="alarmModelWnd" style="display:none">
                <div>
                    <div style="margin:10px">
                        <label style="margin-left: 36px" >告警设备:</label>
                        <input  style="margin-left: 10px;height:30px;width:455px"  id="equipTypeName" />

                        <label style="color: red;margin-left: 5px">*</label>
                    </div>
                    <div style="margin:10px;">
                        <div>
                            <label style="margin-left: 36px" >监控要素:</label>
                            <input  style="margin-left: 10px;height:30px;width:180px"  id="equipElementName" />
                            <label style="width: 25px"></label>

                            <label>阈值:</label>
                            <input  style="margin-left: 10px;height:25px;width:180px"  id="alarmThreshold" />
                            <label style="color: red;margin-left: 5px">*</label>
                        </div>
                    </div>
                   <!-- <div style="margin:10px">
                        <label style="margin-left: 36px" >告警等级:</label>
                        <input  style="margin-left: 10px;height:30px;width:450px"  id="alarmGrade" />
                        <label style="color: red;margin-left: 5px">*</label>
                    </div>-->
                    <div style="margin:10px">
                        <label style="margin-left: 36px" >提示信息:</label>
                        <textarea rows="5" cols="20"  style="margin-left: 10px;height:60px;width:445px" readonly="true"  id="alarmInform" ></textarea>
                    </div>
                    <div style="margin-top: 10px">
                        <label style="margin-left: 73px">备注:</label>
                        <textarea rows="5" cols="20"  style="margin-left: 10px;height:60px;width:445px"  id="alarmNote" ></textarea>
                    </div>
                    <div style="margin-left:190px;margin-top:20px;">
                        <button id="alarmModel"  class="k-button btn-info" style="margin-left: 185px;color:white"onclick="submitAlarmModel()">
                            <i class="icon-ok"></i>
                            保存
                        </button>
                        <button id="closeAlarmModel" class="k-button btn-danger" style="margin-left: 50px;color:white" >
                            <i class="icon-remove"></i>
                            关闭
                        </button>
                    </div>
                </div>
            </div>
        </div><!-- /.page-content -->

    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->

<script src="/assets/js/jquery-2.0.3.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="/assets/js/jquery.1.10.2.min.js"></script>
<![endif]-->

<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->

<!-- ace scripts -->

<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>
<script src="/js/kendo.all.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<!-- inline scripts related to this page -->
<script type="text/javascript">
var crudAlarmBaseUrl = "/predictCenter/api/alarm";  //根地址
var dropDownListUrl = "/predictCenter/api/dropDownList";  //根地址
var alarmGridDataSource;        //告警规则数据源
var  alarmModelWnd;  //声明弹出的窗体
var alarmRecordId;  //声明数据选中行的id
//设置下拉列表
function setDropDownList(){

    $("#equipTypeName").kendoDropDownList({
        optionLabel: "选择设备",
        dataTextField: "equipTypeName",
        dataValueField: "id",
        dataSource: {
            transport: {
                read: {
                    url: dropDownListUrl+"/getEquipTypes/0",
                    dataType: "json"
                }
            }

        }
    });

    $("#equipElementName").kendoDropDownList({
        optionLabel: "选择监控要素",
        cascadeFrom: "equipTypeName",
        cascadeFromField: "parentId",
        dataTextField: "equipTypeName",
        dataValueField: "id",
        dataSource: {
            transport: {
                read: {
                    url: dropDownListUrl+"/getEquipElements",
                    dataType: "json"
                }
            }
        },
        change:function(e){
            var value = this.value();
            getInform(value);
        }
    });
    //在提示信息框里显示提示信息
    function getInform(val){
        var description = "";
        $.ajax({
            dataType:"json",
            url:crudAlarmBaseUrl + "/getDescription/"+val,
            async:false,
            success:function(data){
                description = data.description;
            }
        });
        //绑定提示信息
        $("#alarmInform").val(description);
    }
   /* $("#alarmGrade").kendoDropDownList({
        optionLabel: "选择告警等级",
        dataTextField: "alarmGradeName",
        dataValueField: "id",
        dataSource: {
            transport: {
                read: {
                    url: dropDownListUrl+"/getAlarmGrade",
                    dataType: "json"
                }
            }
        }
    });*/
}

//主程序入口
$(function(){
    setAlarmGridDataSource();//设置告警规则
    setAlarmGrid();//设置告警规则列表
    setDropDownList();
});
//设置告警规则数据源
function setAlarmGridDataSource(){
    alarmGridDataSource=new kendo.data.DataSource({
        transport: {
            read:  {
                url: crudAlarmBaseUrl + "/getAllAlarm",
                dataType: "json"
            }
        },
        batch: true,
        pageSize: 20,
        schema: {
            model: {
                id: "id"
            }
        }
    });
}
//告警规则 数据表函数
function setAlarmGrid(){
    $("#alarmGrid").kendoGrid({
        dataSource:alarmGridDataSource,
        toolbar:[{template: kendo.template($("#alarmModel_toolbar").html())}],
        columns:[
            {field:"equipTypeName",title:"告警设备",template:"#=getEquipTypeName(equipTypeName)#"},
            {field:"equipTypeElement",title:"告警设备要素",template:"#=getEquipTypeName(equipTypeElement)#"},
            {field:"alarmThreshold",title:"告警阈值(%)"},
           // {field:"alarmGrade",title:"告警等级",template:"#=getAlarmGradeById(alarmGrade)#"},
           // {field:"alarmInform",title:"告警信息",template:"#=getInform(alarmInform)#"},
            {field:"alarmNote",title:"备注",hidden:true},
            { command: [
                {name:"view",text:"查看",className:"btn btn-success",
                click:function(e){
                    var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                    if(dataItem==undefined){
                        dataItem=submitRecObj;
                    }
                    var url ="/predictCenter/getAlarmViewInfo/"+dataItem.id+".html";
                    window.open(url);
                    }
                 },
                {text: "编辑", click: showAlarmModel ,className: "btn btn-info"},   //编辑窗体内容
                {text: "删除",click:delAlarmModel ,className:"btn btn-danger " }    //删除记录

            ],
                title: "操作",width:"30%"
            }
        ],
        pageable: {
            buttonCount:3,
            input: true,
            messages:{
                display:"共{2}条记录",
                first:"第一页",
                last:"最后一页",
                next:"下一页",
                previous:"前一页",
                morePages:"更多页",
                refresh:"刷新表格",
                empty:"没有数据",
                itemsPerPage:"项数据每页",
                page:"第",
                of:"页"
            }
        },
        selectable: "row"
    });
    alarmModelWnd = $("#alarmModelWnd").kendoWindow({
        title: "告警规则",
        modal: true,
        visible: false,
        resizable: false,
        width: 650,
        height:350
    }).data("kendoWindow");
}
//获取设备类型名称
function getEquipTypeName(equipTypeId){
    var equipTypeName="";//设备名称
    $.ajax({
        dataType:"json",
        url:"/predictCenter/api/dropDownList/getEquipTypeNameById/" + equipTypeId,
        async:false,                       //是否异步：不异步，页面加载同时加载数据
        success:function(data){
            equipTypeName=data.equipTypeName;
        }
    });
    return equipTypeName;
}
//获取设备类型名称
/*function getAlarmGradeById(alarmGradeId){
    var alarmGradeName="";//等级名称
    $.ajax({
        dataType:"json",
        url:"/predictCenter/api/dropDownList/getAlarmGradeById/" + alarmGradeId,
        async:false,                       //是否异步：不异步，页面加载同时加载数据
        success:function(data){
            alarmGradeName=data.alarmGradeName;
        }
    });
    return alarmGradeName;
}*/

//查看弹窗
function showAlarmModel(e) {
    e.preventDefault();
    var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
    if(dataItem==undefined){
        dataItem=submitRecObj;
    }
    alarmRecordId=dataItem.id;//记录当前被选中的告警规则的id


    //非下拉框
    $("#alarmNote").val(dataItem.alarmNote);    //备注
    $("#alarmThreshold").val(dataItem.alarmThreshold);    //告警阈值

    /*声明为 下拉 输入框样式并赋值*/
    var equipTypeNameDrop= $("#equipTypeName").data("kendoDropDownList");//告警设备
    equipTypeNameDrop.value(dataItem.equipTypeName);
    var equipElementNameDrop= $("#equipElementName").data("kendoDropDownList");//告警设备
    equipElementNameDrop.value(dataItem.equipTypeElement);
   /* var alarmGradeDrop= $("#alarmGrade").data("kendoDropDownList");//告警等级
    alarmGradeDrop.value(dataItem.alarmGrade);*/
    alarmModelWnd.center().open();
}
//删除数据
function delAlarmModel(e){
    e.preventDefault();

    var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
    if(dataItem==undefined){
        dataItem=submitRecObj;
    }
    alarmRecordId=dataItem.id;   //记录当前被选中的告警规则的id
    swal({
                title: "确认要删除该数据吗？",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#55c6dc",
                confirmButtonText: "删除",
                cancelButtonText: "取消",
                closeOnConfirm: true
            },function(){
                $.ajax({
                    url:crudAlarmBaseUrl+"/deleteAlarm/"+alarmRecordId,
                    dataType: "json",   //返回格式为json
                    async: true,//同步，这也是ajax重要特性
                    type: "GET",   //请求方式
                    success:function(data){
                        setAlarmGridDataSource();//获取虚拟机数据源
                        setAlarmGrid();//重新生成表单
                    }
                })
            }
    );
}
//添加数据
function addAlarmModel(){
    var equipTypeName= $("#equipTypeName").data("kendoDropDownList");
    equipTypeName.value("");//设备类型
    var equipElementName= $("#equipElementName").data("kendoDropDownList");
    equipElementName.value("");//要素
   /* var alarmGrade=$("#alarmGrade").data("kendoDropDownList");
    alarmGrade.value("");//要素等级*/

    $("#alarmThreshold").val("");
    $("#alarmNote").val("");
    alarmRecordId=0;//添加告警规则，模板id设为0.
    alarmModelWnd.center().open();
}
// 保存
function submitAlarmModel(){
    var equipTypeNameVal= $("#equipTypeName").val();
    var equipElementVal= $("#equipElementName").val();
    var alarmThresholdVal= $("#alarmThreshold").val();
    var alarmNoteVal= $("#alarmNote").val();
    //var alarmGradeVal=$("#alarmGrade").val();

    if(equipTypeNameVal==""||alarmThresholdVal==""){
        alert("带有红色标记的为必填项");
        return;
    }else{
        var submitAlarmModelData={
            //提交当前行数据的所有数据
            id:alarmRecordId,
            equipTypeName:equipTypeNameVal,
            equipTypeElement:equipElementVal,
          //  alarmGrade:alarmGradeVal,
            alarmThreshold:alarmThresholdVal,
            alarmNote:alarmNoteVal
        };
        submitAlarmModelAjax(crudAlarmBaseUrl + "/createAndUpdateAlarm",submitAlarmModelData);
    }

}
var submitRecObj=null;//提交记录对象
//提交数据至后台
function submitAlarmModelAjax(submitURL,objData){
    $.ajax({
        url:submitURL,
        dataType: "json",   //返回格式为json
        async: true,//同步，这也是ajax重要特性
        type: "GET",   //请求方式
        data:objData,
        success:function(data){
            submitRecObj=data;
            $("#alarmModelWnd").data("kendoWindow").close();
            setAlarmGridDataSource();//获取告警规则数据源
            setAlarmGrid();//重新生成表单
        }
    })
   // $("#alarmGrid").data("kendoGrid").refresh();
};
// 关闭窗口
$("#closeAlarmModel").click( function (e) {
    $("#alarmModelWnd").data("kendoWindow").close();
});
</script>
<script id="alarmModel_toolbar" type="text/x-kendo-template">
    <button class="k-button k-button-icontext k-grid-add" id="alarmModel_toolbar_queryBtn" onclick="addAlarmModel();"><span class="k-icon k-add"></span>添加告警规则</button>
</script>
</body>
</html>
