<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title th:text="${title}"></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/dropzone.css" />
    <script th:replace="header :: header"></script>
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/css/myTableCSS/myTableCSS.css"/>
    <link rel="stylesheet" href="/css/myTableCSS/wlsh.defult.css" title="Default Styles" media="screen"/>
</head>
<body>
<script th:inline="javascript">
    var hostIds=/*[[${hostIds}]]*/'hostIds';//主机IDs
    var middleIds=/*[[${middleIds}]]*/'middleIds';//中间件IDS
    var serviceObjIds=/*[[${serviceObjIds}]]*/'serviceObjIds';//服务对象IDS
</script>
<div th:replace="navbar :: navbar(${user})"></div>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
        <div th:replace="slider :: slidermenu(${'sjzs_app'})"></div>
        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="/">主页</a>
                    </li>
                    <li class="active">
                        <a href="#">监控数据展示</a>
                    </li>
                    <li class="active">
                        <a href="#">应用</a>
                    </li>
                </ul><!-- .breadcrumb -->
                <div class="nav-search" id="nav-search">
                    <span class="input-icon">
                        <input type="text" placeholder="搜索 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                        <i class="icon-search nav-search-icon"></i>
                    </span>
                </div><!-- #nav-search -->
            </div>
        </div><!-- /.main-content -->
        <div class="page-content" >
            <div style="width: 100%">
                <div style="float: left;width: 15%;display: inline">
                   <div style="font-size: 25px">
                       <input name="id" type="hidden" th:value="*{apps} ? *{apps.id} : '0'"/>
                        <div style="margin: 40px 40px">
                            <div >
                                <b>应用名称：</b>
                                <label th:text="*{apps} ? *{apps.applicationName} : '(no user specified)'"></label>
                            </div>
                        </div>
                        <div style="margin: 40px 40px">
                            <div>
                               <b>运行状态</b><br/>
                                <br/>
                                <font color="blue" >正常</font><br/><br/>
                                <font color="red">不正常</font>
                            </div>
                        </div>
                   </div>
                </div>

                <div style="float: right;width:70%;display: inline">
                    <div style="margin-top: 20px">
                        <div><b >所在主机</b></div>
                        <div id="hostModelGrid"  class=" k-grid k-widget" style="float: right;margin-top: 10px;margin-bottom: 20px" ></div>
                    </div>
                    <div >
                        <div><b>中间件</b></div>
                        <div id="middleModelGrid"  class=" k-grid k-widget" style="float: right;margin-top: 10px;margin-bottom: 20px"></div>
                    </div>
                    <div style="margin-top: 10px">
                        <div><b>服务对象</b></div>
                        <div id="userModelGrid"  class=" k-grid k-widget" style="float: right;margin-top: 10px" ></div>
                    </div>
                </div>
            </div>
        </div><!-- /.page-content -->
    </div><!-- /.main-container-inner -->
</div><!-- /.main-container -->

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>

<script src="/js/elementUseage.js"></script>

<script src='/assets/js/jquery-2.0.3.min.js'></script>

<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-2.0.3.min.js'>"+"<"+"script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"script>");
</script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src="/assets/js/excanvas.min.js"></script>
<![endif]-->

<script src="/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/js/jquery.slimscroll.min.js"></script>
<script src="/assets/js/jquery.easy-pie-chart.min.js"></script>
<script src="/assets/js/jquery.sparkline.min.js"></script>
<script src="/assets/js/flot/jquery.flot.min.js"></script>
<script src="/assets/js/flot/jquery.flot.pie.min.js"></script>
<script src="/assets/js/flot/jquery.flot.resize.min.js"></script>
<script src="/assets/js/dropzone.min.js"></script>




<!--[if lt IE 9]>
<script type="text/javascript" src="/js/jSingnature/libs/flashcanvas.js"></script>
<![endif]-->
<!-- ace scripts -->

<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>

<script src="/js/console.js"></script>
<script src="/js/kendo.web.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script type="text/javascript" th:inline="javascript">

    var crudHostBaseUr="/predictCenter/api/host";  //根地址
    var crudMiddleBaseUr ="/predictCenter/api/middle";  //根地址
    var crudUserBaseUr ="/predictCenter/api/serviceObject";  //根地址
    /*声明dataSource*/
    var hostModelGridDataSource;
    var middleModelGridDataSource;
    var userModelGridDataSource;
    // 数据源
    function setHostModelGridDataSource(){
        hostModelGridDataSource=new kendo.data.DataSource({
            transport: {
                read:  {
                    url: crudHostBaseUr + "/getHostsByIds/"+hostIds,
                    dataType: "json"
                }
            },
            batch: true,
            pageSize: 5
        });
    }
    //主机 数据表
    function setHostModelGrid(){
        $("#hostModelGrid").kendoGrid({
            dataSource:hostModelGridDataSource,

            columns:[
                {field:"hosts",title:"主机名称",width:"20%"},
                {field:"hostType",title:"主机类型",width:"20%"},
                { field: "routerState", title: "状态",width:"20%"},
                { command: [
                    {name:"view",text:"查看状态",
                        click:function(e){
                            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                            var url ="/predictCenter/getHostShowView/"+dataItem.hosts+"/"+dataItem.hostId+"/";
                            window.open(url);
                        }
                    }
                ] ,  title: "操作",width:"20%"}
            ],
            pageable: {
                buttonCount:3,
                input: true,
                messages:{
                    display:"共{2}条记录",
                    first:"第一页",
                    last:"最后一页",
                    next:"下一页",
                    previous:"前一页",
                    morePages:"更多页",
                    refresh:"刷新表格",
                    empty:"没有数据",
                    itemsPerPage:"项数据每页",
                    page:"第",
                    of:"页"
                }
            },
            selectable: "row"
        });
    }

    function setMiddleModelGridDataSource(){
        middleModelGridDataSource=new kendo.data.DataSource({
            transport: {
                read:  {
                    url: crudMiddleBaseUr + "/getMiddleByIds/"+middleIds,
                    dataType: "json"
                }
            },
            batch: true,
            pageSize:5
        });
    }
    //中间件 数据表
    function setMiddleModelGrid(){
        $("#middleModelGrid").kendoGrid({
            dataSource:middleModelGridDataSource,
            columns:[
                {field:"middleName",title:"中间件名称",width:"20%"},
                {field:"middleType",title:"中间件类型",width:"20%"},
                { field: "routerState", title: "状态",width:"20%"},
                { command: [
                    {name:"view",text:"查看状态",
                        click:function(e){
                            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                            var url ="/predictCenter/getHostShowView/"+dataItem.hosts+"/"+dataItem.hostId+"/";
                            window.open(url);
                        }
                    }
                ] ,  title: "操作",width:"20%"}
            ],
            pageable: {
                buttonCount:3,
                input: true,
                messages:{
                    display:"共{2}条记录",
                    first:"第一页",
                    last:"最后一页",
                    next:"下一页",
                    previous:"前一页",
                    morePages:"更多页",
                    refresh:"刷新表格",
                    empty:"没有数据",
                    itemsPerPage:"项数据每页",
                    page:"第",
                    of:"页"
                }
            },
            selectable: "row"
        });
    }
    function setUserModelGridDataSource(){
        userModelGridDataSource=new kendo.data.DataSource({
            transport: {
                read:  {
                    url: crudUserBaseUr + "/getSerObjByIds/"+serviceObjIds,
                    dataType: "json"
                }
            },
            batch: true,
            pageSize:5
        });
    }
    //服务对象数据表
    function setUserModelGrid(){
        $("#userModelGrid").kendoGrid({
            dataSource:userModelGridDataSource,
            columns:[
                {field:"serviceObjectName",title:"服务对象",width:"30%"},
                { field: "routerState", title: "状态",width:"20%"},
                { command: [
                    {name:"view",text:"查看状态",
                        click:function(e){
                            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                            var url ="/predictCenter/getHostShowView/"+dataItem.hosts+"/"+dataItem.hostId+"/";
                            window.open(url);
                        }
                    }
                ] ,  title: "操作",width:"20%"}
            ],
            pageable: {
                buttonCount:3,
                input: true,
                messages:{
                    display:"共{2}条记录",
                    first:"第一页",
                    last:"最后一页",
                    next:"下一页",
                    previous:"前一页",
                    morePages:"更多页",
                    refresh:"刷新表格",
                    empty:"没有数据",
                    itemsPerPage:"项数据每页",
                    page:"第",
                    of:"页"
                }
            },
            selectable: "row"
        });
    }
    //程序入口
    $(function(){
        setHostModelGridDataSource();//主机
        setMiddleModelGridDataSource();//中间件
        setUserModelGridDataSource();//服务对象
        setHostModelGrid();//主机
        setMiddleModelGrid();//中间件
        setUserModelGrid();//服务对象
    });
</script>
</body>
</html>
