<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <!-- basic styles -->
    <meta charset="UTF-8"/>
    <meta name="_csrf" th:unless="${_csrf==null}" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:unless="${_csrf==null}" th:content="${_csrf.headerName}"/>

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
    <link href="/styles/sweet-alert.css" rel="stylesheet" />
    <!--[if IE 7]>
    <link rel="stylesheet" href="/assets/css/font-awesome-ie7.min.css" />
    <![endif]-->

    <!-- page specific plugin styles -->

    <!-- fonts -->



    <!-- ace styles -->

    <link rel="stylesheet" href="/assets/css/ace.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-skins.min.css" />

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/assets/css/ace-ie.min.css" />
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script src="/assets/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    <script src="/js/jquery.min.js" type="text/javascript"></script>

    <link href="/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="/styles/kendo.common-bootstrap.min.css" rel="stylesheet" />
    <link href="/styles/kendo.bootstrap.min.css" rel="stylesheet" />

    <link href="/styles/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="/styles/kendo.dataviz.bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap.min.css"/>

    <link href="/css/jquery-ui.css" rel="stylesheet">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/kendo.all.min.js"></script>
    <script src="/js/jquery.jqpagination.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/cultures/kendo.culture.zh-CN.min.js"></script>
    <script src="/js/messages/kendo.messages.zh-CN.min.js"></script>
    <script src="/js/sweet-alert.min.js"></script>

</head>
<body>
</body>

</html>