<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title th:text="${title}"></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script th:replace="header :: header"></script>
</head>

<body>
<div th:replace="navbar :: navbar(${user})"></div>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
        <div th:replace="slider :: slidermenu(${'pj_pz_system'})"></div>
        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="/">主页</a>
                    </li>
                    <li class="active">
                        <a href="#">监控管理配置</a>
                    </li>
                    <li class="active">
                        <a href="#">配置操作系统</a>
                    </li>
                </ul><!-- .breadcrumb -->
                <div class="nav-search" id="nav-search">
                    <span class="input-icon">
                        <input type="text" placeholder="搜索 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                        <i class="icon-search nav-search-icon"></i>
                    </span>
                </div><!-- #nav-search -->
            </div>


        </div><!-- /.main-content -->
        <div class="page-content">
            <div>
                <div class="col-xs-10">
                    <div id="operatingSystemGrid" style="position: absolute;width: 105%"></div>
                </div>
            </div>
            <!--操作系统模板-->
            <div id="operatingSystemModelWnd" style="display:none">
                <div>
                    <div style="margin:10px">
                        <label style="margin-left: 20px" >操作系统名称:</label>
                        <input  style="margin-left: 10px;height:30px;width:370px"  id="operatingSystem"/>
                        <label style="color: red;margin-left: 5px">*</label>
                    </div>
                    <div style="margin-top: 10px">
                        <label style="margin-left:86px">备注:</label>
                        <textarea rows="5" cols="20"  style="margin-left: 10px;height:60px;width:365px"  id="operatingSystemNote" ></textarea>
                    </div>
                    <div style="margin-left:190px;margin-top:20px;">
                        <button id="saveCertifiModel"  class="k-button" style="margin-left: 138px;"onclick="submitOperatingSystemModel()">
                            <i class="icon-ok"></i>
                            保存
                        </button>
                        <button id="closeOperatingSystemModel" class="k-button" style="margin-left: 30px;" >
                            <i class="icon-remove"></i>
                            关闭
                        </button>
                    </div>
                </div>
            </div>
        </div><!-- /.page-content -->

    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->

<script src="/assets/js/jquery-2.0.3.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="/assets/js/jquery.1.10.2.min.js"></script>
<![endif]-->

<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->

<!-- ace scripts -->

<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>
<script src="/js/kendo.all.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<!-- inline scripts related to this page -->
<script type="text/javascript">
    var crudOperatingSystemBaseUrl = "/predictCenter/api/operatingSystem";  //根地址
    var dropDownListUrl = "/predictCenter/api/dropDownList";  //根地址
    var operatingSystemGridDataSource;        //操作系统数据源
    var operatingSystemModelWnd;  //声明弹出的窗体
    var operatingSystemRecordId;  //声明数据选中行的id
    //主程序入口
    $(function(){
        setOperatingSystemGridDataSource();//操作系统数据源
        setOperatingSystemGrid();//获取操作系统数据列表
    });
    //设置操作系统数据源
    function setOperatingSystemGridDataSource(){
        operatingSystemGridDataSource=new kendo.data.DataSource({
            transport: {
                read:  {
                    url: crudOperatingSystemBaseUrl + "/getAllOperatingSystem",
                    dataType: "json"
                }
            },
            batch: true,
            pageSize: 20,
            schema: {
                model: {
                    id: "id"
                }
            }
        });
    }
    //操作系统 数据表函数
    function setOperatingSystemGrid(){
        $("#operatingSystemGrid").kendoGrid({
            dataSource:operatingSystemGridDataSource,
            toolbar:[{template: kendo.template($("#operatingSystemModel_toolbar").html())}],
            columns:[
                {field:"operatingSystem",title:"操作系统名称"},
                {field:"operatingSystemNote",title:"备注",hidden:true},
                { command: [
                    {text: "编辑", click: showOperatingSystemModel },   //编辑窗体内容
                    { text: "删除",click:delOperatingSystemModel }    //删除记录

                ],
                    title: "操作"
                }
            ],
            pageable: {
                buttonCount:3,
                input: true,
                messages:{
                    display:"共{2}条记录",
                    first:"第一页",
                    last:"最后一页",
                    next:"下一页",
                    previous:"前一页",
                    morePages:"更多页",
                    refresh:"刷新表格",
                    empty:"没有数据",
                    itemsPerPage:"项数据每页",
                    page:"第",
                    of:"页"
                }
            },
            selectable: "row"
        });
        operatingSystemModelWnd = $("#operatingSystemModelWnd").kendoWindow({
            title: "操作系统",
            modal: true,
            visible: false,
            resizable: false,
            width: 570,
            height:230
        }).data("kendoWindow");
    }
    //查看弹窗
    function showOperatingSystemModel(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        operatingSystemRecordId=dataItem.id;//记录当前被选中的操作系统的id

        //文本框
        $("#operatingSystemNote").val(dataItem.operatingSystemNote);    //备注
        $("#operatingSystem").val(dataItem.operatingSystem);    //操作系统名称
        operatingSystemModelWnd.center().open();
    }
    //删除数据
    function delOperatingSystemModel(e){
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        operatingSystemRecordId=dataItem.id;   //记录当前被选中的操作系统的id

        swal({
                    title: "确认要删除该数据吗？",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#55c6dc",
                    confirmButtonText: "删除",
                    cancelButtonText: "取消",
                    closeOnConfirm: true
                },function(){
                    $.ajax({
                        url:crudOperatingSystemBaseUrl+"/deleteOperatingSystem/"+operatingSystemRecordId,
                        dataType: "json",   //返回格式为json
                        async: true,//同步，这也是ajax重要特性
                        type: "GET",   //请求方式
                        success:function(data){
                            //alert("记录删除成功！");
                            setOperatingSystemGridDataSource();//获取操作系统数据源
                            setOperatingSystemGrid();//重新生成表单
                        }
                    })
                }
        );
    }
    //添加数据
    function addOperatingSystemModel(){
        $("#operatingSystem").val("");
        $("#operatingSystemNote").val("");
        operatingSystemRecordId=0;//操作系统，模板id设为0.
        operatingSystemModelWnd.center().open();

    }
    // 保存
    function submitOperatingSystemModel(){
        var operatingSystemVal= $("#operatingSystem").val();
        var operatingSystemNoteVal= $("#operatingSystemNote").val();

        if(operatingSystemVal==""){
            alert("带有红色标记的为必填项");
            return;
        }else{
            var submitOperatingSystemModelData={
                //提交当前行数据的所有数据
                id:operatingSystemRecordId,
                operatingSystem:operatingSystemVal,
                operatingSystemNote:operatingSystemNoteVal
            };
            $.ajax({
                url:"/predictCenter/api/operatingSystem/osExit/"+operatingSystemVal,
                dataType:"json",
                async:true,
                type:"GET",
                success:function(data){
                    //判断操作系统是否存在
                    if(!data.os){
                        alert("操作系统已存在！");
                        return;
                    }
                    submitOperatingSystemModelAjax(crudOperatingSystemBaseUrl + "/createAndUpdateOperatingSystem",submitOperatingSystemModelData);
                }
            });
        }
    }
    //提交数据至后台
    function submitOperatingSystemModelAjax(submitURL,objData){
        $.ajax({
            url:submitURL,
            dataType: "json",   //返回格式为json
            async: true,//同步，这也是ajax重要特性
            type: "GET",   //请求方式
            data:objData,
            success:function(data){
                $("#operatingSystemModelWnd").data("kendoWindow").close();
                setOperatingSystemGridDataSource();//获取操作系统数据源
                setOperatingSystemGrid();//重新生成表单
            }
        })
    };
    // 关闭窗口
    $("#closeOperatingSystemModel").click( function (e) {
        $("#operatingSystemModelWnd").data("kendoWindow").close();
    });
</script>
<script id="operatingSystemModel_toolbar" type="text/x-kendo-template">
    <button class="k-button k-button-icontext k-grid-add" id="operatingSystemModel_toolbar_queryBtn" onclick="addOperatingSystemModel();"><span class="k-icon k-add"></span>添加操作系统</button>
</script>
<!-- inline scripts related to this page -->
</body>
</html>
