<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title th:text="${title}"></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script th:replace="header :: header"></script>
</head>

<body>
<div th:replace="navbar :: navbar(${user})"></div>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
        <div th:replace="slider :: slidermenu(${'pj_wl_ping'})"></div>
        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="/">主页</a>
                    </li>
                    <li class="active">
                        <a href="#">监控管理配置</a>
                    </li>
                    <li class="active">
                        <a href="#">网络</a>
                    </li>
                    <li class="active">
                        <a href="#">Ping监控</a>
                    </li>
                </ul><!-- .breadcrumb -->
                <div class="nav-search" id="nav-search">
                    <span class="input-icon">
                        <input type="text" placeholder="搜索 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                        <i class="icon-search nav-search-icon"></i>
                    </span>
                </div><!-- #nav-search -->
            </div>


        </div><!-- /.main-content -->
        <div class="page-content">
            <div>
                <div class="col-xs-10">
                    <div id="pingGrid" style="position: absolute;width: 105%"></div>
                </div>
            </div>
            <!--ping模板-->
            <div id="pingModelWnd" style="display:none">
                <div>
                    <div style="margin:10px">
                        <label style="margin-left: 50px" >网络名称:</label>
                        <input  style="margin-left: 10px;height:30px;width:340px"  id="pingName"/>
                        <label style="color: red;margin-left: 5px">*</label>
                    </div>
                    <div style="margin:10px">
                        <label style="margin-left: 50px" >设备一IP:</label>
                        <input  style="margin-left: 11px;height:30px;width:340px"  id="oneIP" />
                        <label style="color: red;margin-left: 5px">*</label>
                    </div>
                    <div style="margin-top: 10px">
                        <label style="margin-left: 60px" >设备二IP:</label>
                        <input  style="margin-left: 10px;height:30px;width:340px"  id="twoIP" />
                        <label style="color: red;margin-left: 5px">*</label>
                    </div>
                    <div style="margin-top: 10px">
                        <label style="margin-left:87px">备注:</label>
                        <textarea rows="5" cols="20"  style="margin-left: 10px;height:60px;width:335px"  id="pingNote" ></textarea>
                    </div>
                    <div style="margin-left:190px;margin-top:20px;">
                        <button id="saveCertifiModel"  class="k-button btn-info" style="margin-left: 110px;color: white"onclick="submitPingModel()">
                            <i class="icon-ok"></i>
                            保存
                        </button>
                        <button id="closePingModel" class="k-button btn-danger" style="margin-left: 30px;color:white;" >
                            <i class="icon-remove"></i>
                            关闭
                        </button>
                    </div>
                </div>
            </div>
            <div id="inputWnd" style="display:none">
                <div class="file-box">
                    <form action="" method="post" enctype="multipart/form-data">
                        <input type='file' name='textfield' style="margin-left:80px;margin-top:40px;height:25px" />
                    </form>
                    <button style="margin-left:400px;margin-top:25px;height:25px">导入</button>
                    <button id="closeFolder" style="margin-left:20px;margin-top:25px;height:25px">取消</button>
                </div>
            </div>
            <div id="outputWnd" style="display:none">
                <div style="margin-top: 10px">
                    <label style="margin-left: 52px" >选择服务器:</label>
                    <input  style="margin-left: 10px;height:30px;width:400px" id="selection"/><label style="color: red;margin-left: 5px">*</label>
                    <button style="margin-left:400px;margin-top:80px;height:25px">导出</button>
                    <button id="closeSelection" style="margin-left:20px;margin-top:80px;height:25px">取消</button>
                </div>
            </div>
        </div><!-- /.page-content -->

    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->

<script src="/assets/js/jquery-2.0.3.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="/assets/js/jquery.1.10.2.min.js"></script>
<![endif]-->

<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/typeahead-bs2.min.js"></script>
<script src="/js/commonFunction.js"></script>

<!-- page specific plugin scripts -->

<!-- ace scripts -->

<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>
<script src="/js/kendo.all.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<!-- inline scripts related to this page -->
<script type="text/javascript">
var crudPingBaseUrl = "/predictCenter/api/ping";  //根地址
var dropDownListUrl = "/predictCenter/api/dropDownList";  //根地址
var pingGridDataSource;        //Ping数据源
var pingModelWnd;  //声明弹出的窗体
var pingRecordId;  //声明数据选中行的id
//主程序入口
$(function(){
    setPingGridDataSource();//Ping数据源
    setPingGrid();//获取Ping数据列表
});
//设置Ping数据源
function setPingGridDataSource(){
    pingGridDataSource=new kendo.data.DataSource({
        transport: {
            read:  {
                url: crudPingBaseUrl + "/getAllPing",
                dataType: "json"
            }
        },
        batch: true,
        pageSize: 20,
        schema: {
            model: {
                id: "id"
            }
        }
    });
}
//VMWare虚拟机 数据表函数
function setPingGrid(){
    $("#pingGrid").kendoGrid({
        dataSource:pingGridDataSource,
        toolbar:[{template: kendo.template($("#pingModel_toolbar").html())},
            {template: kendo.template($("#inputModel_toolbar").html())},
            {template: kendo.template($("#outputModel_toolbar").html())}],
        columns:[
          //  {title: "<input type='checkbox'/>全选",template: '<input type="checkbox"/>'},
            {field:"pingName",title:"网络名称"},
            {field:"oneIP",title:"设备一IP"},
            {field:"twoIP",title:"设备二IP"},
            {field:"pingNote",title:"备注",hidden:true},
            { command: [
                {name:"view",text:"查看",className:"btn btn-success",
                    click:function(e){
                        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                        if(dataItem==undefined){
                            dataItem=submitRecObj;
                        }
                        var url ="/predictCenter/getPingViewInfo/"+dataItem.id+".html";
                        window.open(url);
                    }
                },
                {text: "编辑", click: showPingModel ,className: "btn btn-info"},   //编辑窗体内容
                { text: "删除",click:delPingModel ,className:"btn btn-danger "}    //删除记录
            ],
                title: "操作"
            }
        ],
        pageable: {
            buttonCount:3,
            input: true,
            messages:{
                display:"共{2}条记录",
                first:"第一页",
                last:"最后一页",
                next:"下一页",
                previous:"前一页",
                morePages:"更多页",
                refresh:"刷新表格",
                empty:"没有数据",
                itemsPerPage:"项数据每页",
                page:"第",
                of:"页"
            }
        },
        selectable: "row"
    });
    pingModelWnd = $("#pingModelWnd").kendoWindow({
        title: "Ping监控",
        modal: true,
        visible: false,
        resizable: false,
        width: 570,
        height:330
    }).data("kendoWindow");
    //导入模板窗体
    inputWnd = $("#inputWnd").kendoWindow({
        title: "导入",
        modal: true,
        visible: false,
        resizable: false,
        width: 600,
        height:150
    }).data("kendoWindow");
    //导出模板窗体
    outputWnd = $("#outputWnd").kendoWindow({
        title: "导出",
        modal: true,
        visible: false,
        resizable: false,
        width: 600,
        height:200
    }).data("kendoWindow");
}
//导入
function addInputModel(){
    inputWnd.center().open();
}
//导出
function addOutputModel(){
    outputWnd.center().open();
}
//取消导入
$("#closeFolder").click( function (e) {
    $("#inputWnd").data("kendoWindow").close();
});
//取消导出
$("#closeSelection").click( function (e) {
    $("#outputWnd").data("kendoWindow").close();
});
//导入保存
function submitFolder(){
    var FolderVal= $("#Folder").val();
    if(FolderVal==""){
        alert("带有红色标记的为必填项");
        return;
    }else{
        var submitFolderData={
            //提交当前行数据的所有数据
            id:modelRecordId,
            Folder:FolderVal
        };
        submitFolderAjax(crudServiceBaseUrl + "/create",submitFolderData);
    }
}
//提交导入数据至后台
function submitFolderAjax(submitURL,objData){
    $.ajax({
        url:submitURL,
        dataType: "json",   //返回格式为json
        async: true,//同步，这也是ajax重要特性
        type: "GET",   //请求方式
        data:objData,
        success:function(data){
            $("#folderWnd").data("kendoWindow").close();
            setModelGridDataSource();
            setModelGrid();
        }
    })
}

//查看弹窗
function showPingModel(e) {
    e.preventDefault();
    var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
    if(dataItem==undefined){
        dataItem=submitRecObj;
    }
    pingRecordId=dataItem.id;//记录当前被选中的虚拟机的id

    //文本框
    $("#pingNote").val(dataItem.pingNote);    //备注
    $("#pingName").val(dataItem.pingName);    //网络名称
    $("#oneIP").val(dataItem.oneIP);    //设备一IP
    $("#twoIP").val(dataItem.twoIP);    //设备二IP
    pingModelWnd.center().open();
}
//删除数据
function delPingModel(e){
    e.preventDefault();

    var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
    if(dataItem==undefined){
        dataItem=submitRecObj;
    }
    pingRecordId=dataItem.id;   //记录当前被选中的Ping的id

    swal({
                title: "确认要删除该数据吗？",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#55c6dc",
                confirmButtonText: "删除",
                cancelButtonText: "取消",
                closeOnConfirm: true
            },function(){
                $.ajax({
                    url:crudPingBaseUrl+"/deletePing/"+pingRecordId,
                    dataType: "json",   //返回格式为json
                    async: true,//同步，这也是ajax重要特性
                    type: "GET",   //请求方式
                    success:function(data){
                        setPingGridDataSource();//获取Ping数据源
                        setPingGrid();//重新生成表单
                    }
                })
            }
    );
}
//添加数据
function addPingModel(){
    $("#twoIP").val("");//设备二IP
    $("#pingName").val("");
    $("#oneIP").val("");
    $("#pingNote").val("");
    pingRecordId=0;//添加SQLserver，模板id设为0.
    pingModelWnd.center().open();

}
// 保存
function submitPingModel(){
    var pingNameVal= $("#pingName").val();
    var oneIPVal= $("#oneIP").val();
    var twoIPVal= $("#twoIP").val();
    var pingNoteVal= $("#pingNote").val();
    if(!validateIp(oneIPVal)){
        alert("IP地址格式不正确！");
        return;
    }
    if(!validateIp(twoIPVal)){
        alert("IP地址格式不正确！");
        return;
    }
    if(pingNameVal==""||twoIPVal==""||oneIPVal==""){
        alert("带有红色标记的为必填项");
        return;
    }else{
        var submitPingModelData={
            //提交当前行数据的所有数据
            id:pingRecordId,
            pingName:pingNameVal,
            oneIP:oneIPVal,
            twoIP:twoIPVal,
            pingNote:pingNoteVal
        };
        $.ajax({
            url:"/predictCenter/api/ping/cabinetExit/"+pingNameVal,
            dataType:"json",
            type: "GET",
            async:true,
            success:function(data){
                if(!data.name){
                    alert("网络名称已存在！");
                    return;
                }
                submitPingModelAjax(crudPingBaseUrl + "/createAndUpdatePing",submitPingModelData);
            }
        });
    }
}
//提交数据至后台
var submitRecObj=null;//提交记录对象
function submitPingModelAjax(submitURL,objData){
    $.ajax({
        url:submitURL,
        dataType: "json",   //返回格式为json
        async: true,//同步，这也是ajax重要特性
        type: "GET",   //请求方式
        data:objData,
        success:function(data){
            submitRecObj=data;
            $("#pingModelWnd").data("kendoWindow").close();
            setPingGridDataSource();//获取Ping数据源
            setPingGrid();//重新生成表单
        }
    })
};
// 关闭窗口
$("#closePingModel").click( function (e) {
    $("#pingModelWnd").data("kendoWindow").close();
});
</script>

<script id="pingModel_toolbar" type="text/x-kendo-template">
    <button class="k-button k-button-icontext k-grid-add" id="pingModel_toolbar_queryBtn" onclick="addPingModel();"><span class="k-icon k-add"></span>添加Ping</button>   <!--添加证书-->
</script>
<script id="inputModel_toolbar" type="text/x-kendo-template">
    <button class="k-button k-button-icontext k-grid-add" id="inputModel_toolbar_queryBtn" onclick="addInputModel();"><span class="k-icon k-add"></span>导入</button>   <!--导入-->
</script>
<script id="outputModel_toolbar" type="text/x-kendo-template">
    <button class="k-button k-button-icontext k-grid-add" id="output_toolbar_queryBtn" onclick="addOutputModel();"><span class="k-icon k-add"></span>导出</button>   <!--导出-->
</script>
<!-- inline scripts related to this page -->
</body>
</html>
