<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title th:text="${title}"></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/dropzone.css" />
    <script th:replace="header :: header"></script>
    <link rel="stylesheet" href="/css/myTableCSS/myTableCSS.css"/>
    <link rel="stylesheet" href="/css/myTableCSS/wlsh.defult.css" title="Default Styles" media="screen"/>
</head>
<body>
<div th:replace="navbar :: navbar(${user})"></div>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
        <div th:replace="slider :: slidermenu(${'pj_sb_server'})"></div>
        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="/">主页</a>
                    </li>
                    <li class="active">
                        <a href="#">监控管理配置</a>
                    </li>
                    <li class="active">
                        <a href="#">设备</a>
                    </li>
                    <li class="active">
                        <a href="#">服务器</a>
                    </li>
                </ul><!-- .breadcrumb -->
                <div class="nav-search" id="nav-search">
                    <span class="input-icon">
                        <input type="text" placeholder="搜索 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                        <i class="icon-search nav-search-icon"></i>
                    </span>
                </div><!-- #nav-search -->
            </div>
        </div><!-- /.main-content -->
        <div class="page-content">
            <div>
                <div class="col-xs-10">
                    <div id="serverModelGrid" style="position: absolute;width: 105%" ></div>
                </div>
            </div>
            <!--服务器模板-->
            <div id="serverModelWnd" style="display:none">
                <div>
                    <div style="margin-top: 10px">
                        <label style="margin-left: 52px" >服务器编号:</label>
                        <input  style="height:30px;width:400px" id="serverSerialNumber"/><label style="color: red;margin-left: 5px">*</label>
                    </div>
                    <div style="margin:10px">
                        <label style="margin-left: 36px" >服务器S/N号:</label>
                        <input  style="height:30px;width:400px" id="serverSN"/>
                    </div>
                    <div style="margin-top:10px">
                        <label style="margin-left: 53px" >服务器品牌:</label>
                        <input  style="height:30px;width:140px;margin-top:8px"  id="serverBrand" />
                        <label style="margin-left: 55px;margin-top: 10px" >KVM编号:</label>
                        <input  style="height:30px;width:140px;margin-top: 10px" id="serverKvm"/>
                    </div>
                    <div style="margin-top:10px">
                            <label style="margin-left: 67px">购买时间:</label>
                            <input style="height:30px;width:140px;" placeholder="请选择..." id="serverPurchasingDate"/>
                            <label style="margin-top:8px;margin-left: 20px" >维保到期时间:</label>
                            <input  style="height:30px;width:140px" id="serverMaintenanceDueTime" placeholder="请选择..."/>
                    </div>
                    <div style="margin-top: 15px">
                        <label style="margin-left: 52px" >服务器型号:</label>
                        <input  style="height:30px;width:400px" id="serverType"/>
                    </div>
                    <div style="margin-top: 10px">
                        <label style="margin-left: 65px" >服务器IP:</label>
                        <input  style="height:30px;width:400px" id="serverIP"/><label style="color: red;margin-left: 5px">*</label>
                    </div>
                    <div style="margin-top: 10px">
                        <label style="margin-left: 92px" >IPMI:</label>
                        <input  style="height:30px;width:140px" id="serverIPMI"/>
                        <label style="margin-left: 55px" >端口号:</label>
                        <input  style="height:30px;width:140px" id="serverPort"/>

                    </div>
                    <div style="margin-top: 10px">

                        <label style="margin-left: 62px" >存储设备:</label>
                        <input  style="height:30px;width:405px;margin-left:1px"  id="serverStorageDevice" /><label style="color: red;margin-left: 5px">*</label>

                    </div>
                    <div style="margin-top: 10px">

                        <label style="margin-left: 62px" >所在机柜:</label>
                        <input  style="height:30px;width:405px;margin-left:1px"  id="serverEquipmentCabinet" /><label style="color: red;margin-left: 5px">*</label>

                    </div>
                    <div style="margin-top: 10px">

                        <label style="margin-left: 82px" >所在U:</label>
                        <input  style="height:30px;width:100px;margin-left:1px"  id="serverU1"  onchange="compare()"/><label style="color: red;margin-left: 5px">*</label>
                        ——
                        <input  style="height:30px;width:100px"  id="serverU2" onchange="compare()" /><label style="color: red;margin-left: 5px">*</label>
                        <lable style="margin-left:60px" id="serverUHeight" >共  U高度</lable>
                    </div>
                    <div style="margin-top: 10px">

                        <label style="margin-left: 90px">备注:</label>
                        <textarea   style="height:70px;width:395px;margin-left:1px" rows="5" cols="30" id="serverRemark" />

                    </div>

                    <div style="margin-left:190px;margin-top:20px;">
                        <button id="saveServerModel"  class="k-button btn-info" style="margin-left: 165px;color: white"onclick="submitServerModel()">
                            <i class="icon-ok"></i>
                            保存
                        </button>
                        <button id="closeServerModel"  class="k-button btn-danger" style="margin-left: 30px;color: white" >
                            <i class="icon-remove"></i>
                            取消
                        </button>

                    </div>
                </div>
            </div>
            <div id="serverInputWnd" style="display:none">
                <div class="file-box">
                    <form action="" method="post" enctype="multipart/form-data">
                        <input type='file' name='textfield' style="margin-left:80px;margin-top:40px;height:25px" />
                    </form>
                    <button style="margin-left:400px;margin-top:25px;height:25px">导入</button>
                    <button id="closeServerFolder" style="margin-left:20px;margin-top:25px;height:25px">取消</button>
                </div>
            </div>
            <div id="serverOutputWnd" style="display:none">
                <div style="margin-top: 10px">
                    <label style="margin-left: 52px" >选择服务器:</label>
                    <input  style="margin-left: 10px;height:30px;width:400px" id="serverSelection"/><label style="color: red;margin-left: 5px">*</label>
                    <button style="margin-left:400px;margin-top:80px;height:25px">导出</button>
                    <button id="closeServerSelection" style="margin-left:20px;margin-top:80px;height:25px">取消</button>
                </div>
            </div>
            <div style="display: none;">

                <iframe width="0" height="0" frameborder="0" scrolling="no" src="about:blank" id="popIframe"></iframe>

            </div>
        </div><!-- /.page-content -->
    </div><!-- /.main-container-inner -->
</div><!-- /.main-container -->

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>

<script src="/js/elementUseage.js"></script>

<script src='/assets/js/jquery-2.0.3.min.js'></script>

<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-2.0.3.min.js'>"+"<"+"script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"script>");
</script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src="/assets/js/excanvas.min.js"></script>
<![endif]-->

<script src="/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/js/jquery.slimscroll.min.js"></script>
<script src="/assets/js/jquery.easy-pie-chart.min.js"></script>
<script src="/assets/js/jquery.sparkline.min.js"></script>
<script src="/assets/js/flot/jquery.flot.min.js"></script>
<script src="/assets/js/flot/jquery.flot.pie.min.js"></script>
<script src="/assets/js/flot/jquery.flot.resize.min.js"></script>
<script src="/assets/js/dropzone.min.js"></script>
<script src="/js/commonFunction.js"></script>



<!--[if lt IE 9]>
<script type="text/javascript" src="/js/jSingnature/libs/flashcanvas.js"></script>
<![endif]-->
<!-- ace scripts -->

<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>

<script src="/js/console.js"></script>
<script src="/js/kendo.web.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script type="text/javascript" th:inline="javascript">

    var crudServiceBaseUrl ="/predictCenter/api/server";  //根地址
    var dropDownListUrl="/predictCenter/api/dropDownList";//获取下拉列表的根路径
    var tabStrip = $("#tabStrip").kendoTabStrip().data("kendoTabStrip");      //切换grid

    /*声明dataSource*/
    var serverModelGridDataSource;

    /*声明弹出的窗体*/
    var serverModelWnd;
    var serverInputWnd;
    var serverOutputWnd;

     var uHeight;
    /*声明数据选中行的id*/
    var serverModelRecordId;

    /*服务器模板*/
    // 数据源
    function setServerModelGridDataSource(){
        serverModelGridDataSource=new kendo.data.DataSource({
            transport: {
                read:  {
                    url: crudServiceBaseUrl + "/getAllServers",
                    dataType: "json"
                }

            },
            batch: true,
            pageSize: 20,
            schema: {
                model: {
                    id: "id"
                }
            }
        });
    }
    //服务器模板 数据表
    function setServerModelGrid(){
        $("#serverModelGrid").kendoGrid({
            dataSource:serverModelGridDataSource,
            toolbar:[{template: kendo.template($("#serverModel_toolbar").html())}],
            columns:[
              //  {title: "<input type='checkbox'/>全选",template: '<input type="checkbox"/>',width:"5%"},
                { field:"serverSerialNumber",title:"服务器编号",width:"12%"},
                { field: "serverSN", title: "服务器S/N号",hidden:true},
                { field: "serverPurchasingDate", title: "购买时间",hidden:true},
                { field: "serverMaintenanceDueTime", title: "维保到期",hidden:true},
                { field: "serverBrand", title: "服务器品牌",template:"#=getBrandNameById(serverBrand)#",hidden:true},
                { field: "serverType", title: "服务器型号",hidden:true},
                { field: "serverIP", title: "服务器IP",width:"10%"},
                { field: "serverKvm", title: "KVM",width:"15%",template:"#=getKvmById(serverKvm)#"},
                { field: "serverApp", title: "对应应用"},
                { field: "serverIPMI", title: "IPMI",hidden:true},
                { field: "serverPort", title: "端口号",hidden:true},
                { field: "serverStorageDevice", title: "存储设备",template:"#=getStorageDeviceNameById(serverStorageDevice)#",hidden:true},
                { field: "serverEquipmentCabinet", title: "所在机柜",template:"#=getEquipmentCabinetNameById(serverEquipmentCabinet)#",hidden:true},
                { field: "serverU", title: "所在U",hidden:true},
                { field: "lastModifiedDate", title: "最后更新时间",width:"9%"},
                { field: "serverRemark", title: "备注",hidden:true},
                { command: [
                   {name:"view",text:"查看",className:"btn btn-success",
                    click:function(e){
                        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                        if(dataItem==undefined){
                            dataItem=submitRecObj;
                        }
                        var url ="/predictCenter/servers/getServerInfo/"+dataItem.id+".html";
                        window.open(url);
                    }
                   },
                    /*{name:"viewQr",text:"二维码",className:"btn btn-warning",
                        click:function(e){
                            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                            if(dataItem==undefined){
                                dataItem=submitRecObj;
                            }
                            var url ="/predictCenter/servers/getServerQrCode/"+dataItem.id+".html";
                            window.open(url);
                        }
                    },*/
                    {text: "编辑", click: showServerModel ,className: "btn btn-info" },   //编辑窗体内容
                    { text: "删除",click:delServerModel,className:"btn btn-danger " }    //删除记录
                ] ,  title: "操作",width:"20%"}
            ],
            pageable: {
                buttonCount:3,
                input: true,
                messages:{
                    display:"共{2}条记录",
                    first:"第一页",
                    last:"最后一页",
                    next:"下一页",
                    previous:"前一页",
                    morePages:"更多页",
                    refresh:"刷新表格",
                    empty:"没有数据",
                    itemsPerPage:"项数据每页",
                    page:"第",
                    of:"页"
                }
            },
            selectable: "row",
            sortable: true,
            scrollable: true,
            filterable: {
                extra: false,
                operators: {
                    string: {
                        contains: "关键词"
                    }
                },
                messages: {
                    filter: "搜索",
                    clear: "清除"
                }
            }
        });
        //添加及查看模板窗体 郑霞 20160115
        serverModelWnd = $("#serverModelWnd").kendoWindow({
            title: "服务器信息",
            modal: true,
            visible: false,
            resizable: false,
            width: 630,
            height:620
        }).data("kendoWindow");
    }
    //编辑弹窗
    function showServerModel(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if(dataItem==undefined){
            dataItem=submitRecObj;
        }
        serverModelRecordId=dataItem.id;//记录当前被选中的服务器模板的id
        $("#serverSerialNumber").val(dataItem.serverSerialNumber);//服务器编号
        $("#serverSN").val(dataItem.serverSN);//服务器序列号
        $("#serverPurchasingDate").val(dataItem.serverPurchasingDate);//服务器购买时间
        $("#serverMaintenanceDueTime").val(dataItem.serverMaintenanceDueTime);//服务器维保到期时间
        $("#serverType").val(dataItem.serverType);//服务器型号
        $("#serverIP").val(dataItem.serverIP);//服务器IP
        $("#serverIPMI").val(dataItem.serverIPMI);//服务器IPMI
        $("#serverPort").val(dataItem.serverPort);//服务器端口
        $("#serverRemark").val(dataItem.serverRemark);//备注

        /*声明为 下拉 输入框样式并赋值*/
        // KVM编号下拉框
        var serverKvm= $("#serverKvm").data("kendoDropDownList");
        serverKvm.text(dataItem.serverKvm);
        //服务器品牌
        var serverBrand= $("#serverBrand").data("kendoDropDownList");
        serverBrand.text(dataItem.serverBrand);
        //存储设备
        var serverStorageDevice= $("#serverStorageDevice").data("kendoDropDownList");
        serverStorageDevice.text(dataItem.serverStorageDevice);
        //serverU数据储存方式为123-123,需要拆分
        var serverU=dataItem.serverU;//获取服务器所在U
        var serverUs = serverU.split("-");//拆分
        var serverU1= $("#serverU1").data("kendoDropDownList");
        serverU1.value(serverUs[0]);
        var serverU2= $("#serverU2").data("kendoDropDownList");
        serverU2.value(serverUs[1]);
         compute();

        //所在机柜
        var serverEquipmentCabinet=$("#serverEquipmentCabinet").data("kendoDropDownList");
        serverEquipmentCabinet.text(dataItem.serverEquipmentCabinet);

       serverModelWnd.center().open();
    }

    //删除数据
    function delServerModel(e){
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if(dataItem==undefined){
            dataItem=submitRecObj;
        }
        serverModelRecordId=dataItem.id;   //记录当前被选中的服务器模板的id
        swal({
            title: "确认要删除该数据吗？",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#55c6dc",
            confirmButtonText: "删除",
            cancelButtonText: "取消",
            closeOnConfirm: true
        },function(){
            $.ajax({
                url:crudServiceBaseUrl+"/deleteServer/"+serverModelRecordId,
                dataType: "json",   //返回格式为json
                async: true,//同步，这也是ajax重要特性
                type: "GET",   //请求方式
                success:function(data){
                    //alert("记录删除成功！");
                    setServerModelGridDataSource();
                    setServerModelGrid();
                }
            })
        });

    }
    //添加数据
    function addServerModel(){
        $("#serverSerialNumber").val("");
        $("#serverSN").val("");
        $("#serverBrand").val("");
        $("#serverType").val("");
        $("#serverIP").val("");
        $("#serverKvm").val("");
        $("#serverIPMI").val("");
        $("#serverPort").val("");
        $("#serverStorageDevice").val("");
        $("#serverEquipmentCabinet").val("");
        $("#serverU1").val("");
        $("#serverU2").val("");
        $("#serverRemark").val("");

        serverModelRecordId=0;//添加服务器模板，模板id设为0.
        serverModelWnd.center().open();
    }

    //比较U1和U2的大小，进而提示U2须要大于U1
    function compare(){
        var serverU1Val= $("#serverU1").val();
        var serverU2Val= $("#serverU2").val();
        if(serverU1Val=="" || serverU2Val==""){
        }else{

        if(parseInt(serverU1Val)>parseInt(serverU2Val)){    //将String类型转换成Int型
            alert("后面下拉框中的值必须大于前面下拉框中的值！");
              return false;
        }
          else{
            compute();
            return true;
        }
      }
    }
    //计算U高度
    function compute(){
        var serverU1Val=$("#serverU1").val();
        var serverU2Val= $("#serverU2").val();
         uHeight=serverU2Val-serverU1Val+1;
          $("#serverUHeight").html('共'+uHeight+'U高度');
          //document.getElementById('serverUHeight').innerHTML = '共'+uHeight+'U高度';
       return ;

    }
    // 添加服务器保存
    function submitServerModel(){
        var serverSerialNumberVal= $("#serverSerialNumber").val();
        var serverSNVal= $("#serverSN").val();
        var serverPurchasingDateVal= $("#serverPurchasingDate").val();
        var serverMaintenanceDueTimeVal= $("#serverMaintenanceDueTime").val();
        var serverBrandVal= $("#serverBrand").val();
        var serverTypeVal= $("#serverType").val();
        var serverIPVal= $("#serverIP").val();
        var serverKvmVal= $("#serverKvm").val();
        var serverIPMIVal= $("#serverIPMI").val();
        var serverPortVal= $("#serverPort").val();
        var serverStorageDeviceVal= $("#serverStorageDevice").val();
        var serverEquipmentCabinetVal= $("#serverEquipmentCabinet").val();
        var serverU1Val= $("#serverU1").val();
        var serverU2Val= $("#serverU2").val();
        var serverRemarkVal= $("#serverRemark").val();
        if(!validateIp(serverIPVal)){
            alert("IP地址格式不正确！");
            return;
        }
        if(serverSerialNumberVal==""||serverIPVal==""||serverStorageDeviceVal==""||serverEquipmentCabinetVal==""||serverU1Val==""||serverU2Val==""){
            alert("带有红色标记的为必填项");
            return ;
        }else if(!compare()){}
            else
             {
            var submitServerModelData={
                //提交当前行数据的所有数据
                id:serverModelRecordId,
                serverSerialNumber:serverSerialNumberVal,
                serverSN:serverSNVal,
                serverPurchasingDate:serverPurchasingDateVal,
                serverMaintenanceDueTime:serverMaintenanceDueTimeVal,
                serverBrand:serverBrandVal,
                serverType:serverTypeVal,
                serverIP:serverIPVal,
                serverKvm:serverKvmVal,
                serverIPMI:serverIPMIVal,
                serverPort:serverPortVal,
                serverStorageDevice:serverStorageDeviceVal,
                serverEquipmentCabinet:serverEquipmentCabinetVal,
                serverU:serverU1Val+"-"+serverU2Val,
                serverRemark:serverRemarkVal

            };
            submitServerModelAjax(crudServiceBaseUrl + "/createAndUpdateServer",submitServerModelData);
        }
    }

    //提交数据至后台
    var submitRecObj=null;//提交记录对象
    function submitServerModelAjax(submitURL,objData){
        $.ajax({
                    url:submitURL,
                    dataType: "json",   //返回格式为json
                    async: true,//同步，这也是ajax重要特性
                    type: "GET",   //请求方式
                    data:objData,
                    success:function(data){
                        submitRecObj=data;
                        $("#serverModelWnd").data("kendoWindow").close();
                        setServerModelGridDataSource();
                        setServerModelGrid();
                     }
                })
    }

    //关闭窗口
    $("#closeServerModel").click( function (e) {
        $("#serverModelWnd").data("kendoWindow").close();
    });
       /*声明一级模板下拉框*/

     //根据品牌Id 获取品牌名称
    function getBrandNameById(id){
        var brandName;//品牌名称
        $.ajax({
            dataType:"json",
            url:dropDownListUrl + "/getBrandByBrandName/"+id,
            async:false,                       //是否异步：不异步，页面加载同时加载数据
            success:function(data){
                brandName=data.brandName;
            }
        });
        return brandName;
    }
     //根据Id获取存储设备
     function getStorageDeviceNameById(id){
        var StorageDeviceName;//存储设备
        $.ajax({
            dataType:"json",
            url:dropDownListUrl + "/getStorageDeviceNameById/"+id,
            async:false,                       //是否异步：不异步，页面加载同时加载数据
            success:function(data){
               StorageDeviceName=data.storeSerialNumber;
            }
        });
        return StorageDeviceName;
    }

    //根据Id获取KVM编号
    function getKvmById(id){
        var kvmNum;//存储设备
        $.ajax({
            dataType:"json",
            url:dropDownListUrl + "/getKvmByName/"+id,
            async:false,                       //是否异步：不异步，页面加载同时加载数据
            success:function(data){
                kvmNum=data.kvmNum;
            }
        });
        return kvmNum;
    }
    //根据Id获取所在U
     function getUNumberById(id){
        var UNumber;//所在U
        $.ajax({
            dataType:"json",
            url:dropDownListUrl + "/getUNumberById/"+id,
            async:false,                       //是否异步：不异步，页面加载同时加载数据
            success:function(data){
               UNumber=data.UNumber;
            }
        });
        return UNumber;
    }
    //根据Id获取所在机柜
     function getEquipmentCabinetNameById(id){
        var EquipmentCabinetName;//所在机柜
        $.ajax({
            dataType:"json",
            url:dropDownListUrl + "/getCabinetByName/"+id,
            async:false,                       //是否异步：不异步，页面加载同时加载数据
            success:function(data){
               EquipmentCabinetName=data.equipmentCabinetName;
            }
        });
        return EquipmentCabinetName;
    }
    //根据Id获取应用名称
     function getApplicationNameById(id){
        var applicationName;//应用名称
        $.ajax({
            dataType:"json",
            url:dropDownListUrl + "/getApplicationNameById/"+id,
            async:false,                       //是否异步：不异步，页面加载同时加载数据
            success:function(data){
               applicationName=data.applicationName;
            }
        });
        return applicationName;
    }

    //设置下拉列表
    function setDropDownList(){
          //品牌下拉列表
        $("#serverBrand").kendoDropDownList({
                optionLabel: "请选择...",
                dataTextField: "brandName",
                dataValueField: "id",
                dataSource: {
                    transport:{
                        read:{
                            dataType:"json",
                            url:dropDownListUrl + "/getAllBrands"
                        }
                    }
                 }
            });

        //存储设备下拉列表
            $("#serverStorageDevice").kendoDropDownList({
                optionLabel: "请选择...",
                dataTextField: "storeSerialNumber",
                dataValueField: "id",
                dataSource: {
                    transport:{
                        read:{
                            dataType:"json",
                            url:dropDownListUrl + "/getAllStorageDevices"
                        }
                    }
                 }
            });
        //所在机柜下拉列表
            $("#serverEquipmentCabinet").kendoDropDownList({
                optionLabel: "请选择...",
                dataTextField: "equipmentCabinetName",
                dataValueField: "id",
                dataSource: {
                                transport:{
                                    read:{
                                        dataType:"json",
                                        url:dropDownListUrl + "/getAllEquipmentCabinets"
                                    }
                                }
                             }
                        });

        //KVM编号下拉列表
        $("#serverKvm").kendoDropDownList({
            optionLabel: "请选择...",
            dataTextField: "kvmNum",
            dataValueField: "id",
            dataSource: {
                transport:{
                    read:{
                        dataType:"json",
                        url:dropDownListUrl + "/getAllKvm"
                    }
                }
            }
        });

        //所在U起始
             $("#serverU1").kendoDropDownList({
                            optionLabel: "请选择...",
                            dataTextField: "uName",
                            dataValueField: "uCode",
                            dataSource: {
                                transport:{
                                    read:{
                                        dataType:"json",
                                        url:dropDownListUrl + "/getAllUs"
                                    }
                                }
                             }
                        });
            //所在U结束
            $("#serverU2").kendoDropDownList({
                optionLabel: "请选择...",
                dataTextField: "uName",
                dataValueField: "uCode",
                dataSource: {
                    transport:{
                        read:{
                            dataType:"json",
                            url:dropDownListUrl + "/getAllUs"
                        }
                    }
                 }
            });
         //导出服务器数据源
          var serverSelectionData= [
                        { text: "请选择", value: "0" },
                        { text: "服务器1", value: "1" },
                        { text: "服务器2", value: "2" },
                        { text: "服务器3", value: "3" },
                        { text: "服务器4", value: "4" },
                        { text: "服务器5", value: "5" },
                    ];
            $("#serverSelection").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "value",
                dataSource: serverSelectionData,
                index: 0
            });

    }
    function setDatePicks(){
        $("#serverPurchasingDate").kendoDatePicker({
            culture:"zh-CN"
       });
        $("#serverMaintenanceDueTime").kendoDatePicker({
            culture:"zh-CN"
       });
    }
    //程序入口
    $(function(){
        setServerModelGridDataSource();   //调用设置应用模板 数据源函数
        setServerModelGrid();              //调用设置应用模板 数据表函数
        setDropDownList();//加载下拉列表
        setDatePicks();//设置日历控件
        });


</script>

<script id="serverModel_toolbar" type="text/x-kendo-template">
    <button class="k-button k-button-icontext k-grid-add" id="serverModel_toolbar_queryBtn" onclick="addServerModel();"><span class="k-icon k-add"></span>添加服务器</button>   <!--添加服务器-->

</script>
</body>
</html>
