<html>
<head>
    <meta charset="utf-8" />
    <title th:text="${title}"></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script th:replace="header :: header"></script>
    <link rel="stylesheet" href="/css/image-circle.css"/>
</head>
<body>
<div class="page-content">
    <div class="row">
        <div class="col-xs-8" style="width: 600px">
            <div class="tab-content no-border padding-24" style="font-size: 12px;background-color:#fff;font-family: Microsoft YaHei">
                <div class="header blue bolder "  style="display: inline-block ;width:530px">
                    <b style="font-size: 20px">服务器详细信息</b>
                </div>
                <div class="row ">
                    <div class="col-xs-12 col-sm-9 header blue" style="width:530px;left:10px">

                        <div class="profile-user-info">
                            <input name="id" type="hidden" th:value="*{server} ? *{server.id} : '0'"/>
                            <div class="profile-info-row">
                                <div class="profile-info-name">
                                    服务器编号：
                                </div>

                                <div class="profile-info-value">
                                    <label th:text="*{server} ? *{server.serverSerialNumber} : '(no user specified)'"></label>
                                </div>
                            </div>
                            <div class="profile-info-row" style="height: 46px">
                                <div class="profile-info-name">
                                    对应应用：
                                </div>
                                <div class="profile-info-value">
                                    <label th:text="*{server} ? *{server.serverApp} : '(no user specified)'"></label>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name">
                                    服务器S/N号：
                                </div>

                                <div class="profile-info-value">
                                    <label th:text="*{server} ? *{server.serverSN} : '(no user specified)'"></label>
                                </div>
                            </div>
                            <div class="profile-info-row" style="height: 46px">
                                <div class="profile-info-name">
                                    购买时间：
                                </div>
                                <div class="profile-info-value">
                                    <label th:text="*{server} ? *{server.serverPurchasingDate} : '(no user specified)'"></label>
                                </div>
                            </div>
                            <div class="profile-info-row" style="height: 46px">
                                <div class="profile-info-name">
                                    维保到期时间：
                                </div>
                                <div class="profile-info-value">
                                    <label th:text="*{server} ? *{server.serverMaintenanceDueTime} : '(no user specified)'"></label>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name">
                                    服务器品牌：
                                </div>
                                <div class="profile-info-value">
                                    <label th:text="*{server} ? *{server.serverBrand} : '(no user specified)'"></label>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name">
                                    服务器型号：
                                </div>
                                <div class="profile-info-value">
                                    <label th:text="*{server} ? *{server.serverType} : '(no user specified)'"></label>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name">
                                    服务器IP：
                                </div>
                                <div class="profile-info-value">
                                    <label th:text="*{server} ? *{server.serverIP} : '(no user specified)'"></label>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name">
                                    存储设备：
                                </div>
                                <div class="profile-info-value">
                                    <label th:text="*{server} ? *{server.serverStorageDevice} : '(no user specified)'"></label>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name">
                                    所在机柜：
                                </div>

                                <div class="profile-info-value">
                                    <label th:text="*{server} ? *{server.serverEquipmentCabinet} : '(no user specified)'"></label>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name">
                                    所在U：
                                </div>
                                <div class="profile-info-value">
                                    <label th:text="*{server} ? *{server.serverU} : '(no user specified)'"></label>
                                </div>
                            </div>
                        </div>
                    </div><!-- /span -->
                </div><!-- /row-fluid -->
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
</body>
</html>