<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title th:text="${title}"></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/dropzone.css" />


    <script th:replace="header :: header"></script>



    <link rel="stylesheet" href="/css/myTableCSS/myTableCSS.css"/>
    <link rel="stylesheet" href="/css/myTableCSS/wlsh.defult.css" title="Default Styles" media="screen"/>

</head>

<body>
<div th:replace="navbar :: navbar(${user})"></div>


<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
        <div th:replace="slider :: slidermenu(${'pj_sb_store'})"></div>
        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="/">主页</a>
                    </li>
                    <li class="active">
                        <a href="#">监控管理配置</a>
                    </li>
                    <li class="active">
                        <a href="#">设备</a>
                    </li>
                    <li class="active">
                        <a href="#">存储设备</a>
                    </li>
                </ul><!-- .breadcrumb -->
                <div class="nav-search" id="nav-search">
                    <span class="input-icon">
                        <input type="text" placeholder="搜索 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                        <i class="icon-search nav-search-icon"></i>
                    </span>
                </div><!-- #nav-search -->
            </div>
        </div><!-- /.main-content -->
        <div class="page-content">
            <div>
                <div class="col-xs-10">
                    <div id="storeModelGrid"  style="position: absolute;width: 105%"></div>
                </div>
            </div>
            <!--存储设备模板-->
            <div id="storeModelWnd" style="display:none">
                <div>
                    <div style="margin-top: 10px">
                        <label style="margin-left: 35px" >存储设备编号:</label>
                        <input  style="height:30px;width:398px" id="storeSerialNumber"/><label style="color: red;margin-left: 5px">*</label>
                    </div>
                    <div style="margin:10px">
                        <label style="margin-left: 19px" >存储设备S/N号:</label>
                        <input  style="height:30px;width:398px" id="storeSN"/>
                    </div>
                    <div style="margin-top: 10px">
                        <label style="margin-left: 63px">购买时间:</label>
                        <input  style="height:30px;width:403px" id="storePurchasingDate" placeholder="请选择..."/>
                    </div>
                    <div style="margin-top: 10px">
                        <label style="margin-left: 34px;margin-top:8px" >维保到期时间:</label>
                        <input  style="height:30px;width:403px" id="storeMaintenanceDueTime" placeholder="请选择..."/>
                    </div>
                    <div style="margin-top: 10px">
                        <label style="margin-left: 34px" >存储设备品牌:</label>
                        <input  style="height:30px;width:403px"  id="storeBrand" />
                    </div>
                    <div style="margin-top: 10px">
                        <label style="margin-left: 34px" >存储设备型号:</label>
                        <input  style="height:30px;width:398px" id="storeType"/>
                    </div>
                    <div style="margin-top: 10px">
                        <label style="margin-left: 48px" >存储设备IP:</label>
                        <input  style="height:30px;width:398px" id="storeIP"/><label style="color: red;margin-left: 5px">*</label>
                    </div>
                    <div style="margin-top: 10px">
                        <label style="margin-left: 60px" >所在机柜:</label>
                        <input  style="height:30px;width:402px;margin-left:2px"  id="storeEquipmentCabinet" /><label style="color: red;margin-left: 5px">*</label>
                    </div>
                    <div style="margin-top: 10px">
                        <label style="margin-left: 80px" >所在U:</label>
                        <input  style="height:30px;width:100px;margin-left:2px"  id="storeU1" onchange="compare()"/><label style="color: red;margin-left: 5px">*</label>
                        ——
                        <input  style="margin-left: 10px;height:30px;width:100px"  id="storeU2" onchange="compare()" /><label style="color: red;margin-left: 5px">*</label>
                        <lable style="margin-left:60px" id="storeUHeight">共 U高度</lable>
                    </div>
                    <div style="margin-top: 10px">
                        <label style="margin-left: 86px">备注:</label>
                        <textarea   style="height:70px;width:398px;margin-left:2px" rows="5" cols="30" id="storeRemark" />
                    </div>
                    <div style="margin-left:190px;margin-top:20px;">
                        <button id="saveStoreModel"  class="k-button btn-info" style="margin-left: 165px;color: white"onclick="submitStoreModel()">
                            <i class="icon-ok"></i>
                            保存
                        </button>
                        <button id="closeStoreModel"  class="k-button btn-danger" style="margin-left: 30px;color: white" >
                            <i class="icon-remove"></i>
                            取消
                        </button>
                    </div>
                </div>
            </div>
            <div id="storeInputWnd" style="display:none">
                <div class="file-box">
                    <form action="" method="post" enctype="multipart/form-data">
                        <input type='file' name='textfield' style="margin-left:80px;margin-top:40px;height:25px" />
                    </form>
                    <button style="margin-left:400px;margin-top:25px;height:25px">导入</button>
                    <button id="closeStoreFolder" style="margin-left:20px;margin-top:25px;height:25px">取消</button>
                </div>
            </div>
            <div id="storeOutputWnd" style="display:none">
                <div style="margin-top: 10px">
                    <label style="margin-left: 52px" >选择存储设备:</label>
                    <input  style="margin-left: 10px;height:30px;width:400px" id="storeSelection"/><label style="color: red;margin-left: 5px">*</label>
                    <button style="margin-left:400px;margin-top:80px;height:25px">导出</button>
                    <button id="closeStoreSelection" style="margin-left:20px;margin-top:80px;height:25px">取消</button>
                </div>
            </div>
        </div><!-- /.page-content -->
    </div><!-- /.main-container-inner -->
</div><!-- /.main-container -->

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>

<script src="/js/elementUseage.js"></script>

<script src='/assets/js/jquery-2.0.3.min.js'></script>

<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-2.0.3.min.js'>"+"<"+"script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"script>");
</script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/typeahead-bs2.min.js"></script>
<script src="/js/commonFunction.js"></script>
<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src="/assets/js/excanvas.min.js"></script>
<![endif]-->

<script src="/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/js/jquery.slimscroll.min.js"></script>
<script src="/assets/js/jquery.easy-pie-chart.min.js"></script>
<script src="/assets/js/jquery.sparkline.min.js"></script>
<script src="/assets/js/flot/jquery.flot.min.js"></script>
<script src="/assets/js/flot/jquery.flot.pie.min.js"></script>
<script src="/assets/js/flot/jquery.flot.resize.min.js"></script>
<script src="/assets/js/dropzone.min.js"></script>




<!--[if lt IE 9]>
<script type="text/javascript" src="/js/jSingnature/libs/flashcanvas.js"></script>
<![endif]-->
<!-- ace scripts -->

<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>

<script src="/js/console.js"></script>
<script src="/js/kendo.web.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script type="text/javascript" th:inline="javascript">

    var crudServiceBaseUrl ="/predictCenter/api/store";  //根地址
    var dropDownListUrl="/predictCenter/api/dropDownList";//获取下拉列表的根路径
    var tabStrip = $("#tabStrip").kendoTabStrip().data("kendoTabStrip");      //切换grid

    /*声明datasource*/
    var storeModelGridDataSource;
    /*声明弹出的窗体*/
    var storeModelWnd;

    /*声明数据选中行的id*/
    var storeModelRecordId;
    /*声明模板大类*/

    var metroCenModel=[];
    var metroCenCertificateModel =[];

    /*存储设备模板*/
    // 数据源
    function setStoreModelGridDataSource(){
        storeModelGridDataSource=new kendo.data.DataSource({
            transport: {
                read:  {
                    url: crudServiceBaseUrl + "/getAllStoresExport",
                    dataType: "json"
                }
            },
            batch: true,
            pageSize: 20,
            schema: {
                model: {
                    id: "id"
                }
            }
        });
    }
    //存储设备模板 数据表
    function setStoreModelGrid(){
        $("#storeModelGrid").kendoGrid({
            dataSource:storeModelGridDataSource,
            toolbar:[{template: kendo.template($("#storeModel_toolbar").html())}],
            columns:[
              //  {title: "<input type='checkbox'/>全选",template: '<input type="checkbox"/>'},
                { field:"storeSerialNumber",title:"存储设备编号"},
                { field: "storeSN", title: "存储设备S/N号",hidden:true},
                { field: "storePurchasingDate", title: "购买时间",hidden:true},
                { field: "storeMaintenanceDueTime", title: "维保到期时间",hidden:true},
                { field: "storeBrand", title: "存储设备品牌"},
                { field: "storeType", title: "存储设备型号"},
                { field: "storeIP", title: "存储设备IP"},
                { field: "storeEquipmentCabinet", title: "所在机柜",hidden:true},
                { field: "storeU", title: "所在U"},
                { field: "storeRemark", title: "备注",hidden:true},
                { command: [
                    {name:"view",text:"查看",className:"btn btn-success",
                    click:function(e){
                        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                        if(dataItem==undefined){
                            dataItem=submitRecObj;
                        }
                        var url ="/predictCenter/stores/getStoreInfo/"+dataItem.id+".html";
                        window.open(url);
                    }
                   },
                    /*{name:"viewQr",text:"二维码",className:" btn btn-warning",
                        click:function(e){
                            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                            if(dataItem==undefined){
                                dataItem=submitRecObj;
                            }
                            var url ="/predictCenter/stores/getStoreQrCode/"+dataItem.id+".html";
                            window.open(url);
                        }
                    },*/
                    {text: "编辑", click: showStoreModel,className: "btn btn-info" },   //编辑窗体内容
                    { text: "删除",click:delStoreModel,className:"btn btn-danger"}    //删除记录
                ] ,  title: "操作",width:"20%"}
            ],
            pageable: {
                buttonCount:3,
                input: true,
                messages:{
                    display:"共{2}条记录",
                    first:"第一页",
                    last:"最后一页",
                    next:"下一页",
                    previous:"前一页",
                    morePages:"更多页",
                    refresh:"刷新表格",
                    empty:"没有数据",
                    itemsPerPage:"项数据每页",
                    page:"第",
                    of:"页"
                }
            },
            selectable: "row",
            sortable: true,
            scrollable: true,
            filterable: {
                extra: false,
                operators: {
                    string: {
                        contains: "关键词"
                    }
                },
                messages: {
                    filter: "搜索",
                    clear: "清除"
                }
            }
        });
        //添加及查看模板窗体 郑霞 20160115
        storeModelWnd = $("#storeModelWnd").kendoWindow({
            title: "存储设备信息",
            modal: true,
            visible: false,
            resizable: false,
            width: 630,
            height:580
        }).data("kendoWindow");
    }


    //查看弹窗
    function showStoreModel(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if(dataItem==undefined){
            dataItem=submitRecObj;
        }
        storeModelRecordId=dataItem.id;//记录当前被选中的存储设备模板的id
        $("#storeSerialNumber").val(dataItem.storeSerialNumber);//存储设备编号
        $("#storeSN").val(dataItem.storeSN);//存储设备序列号
        $("#storePurchasingDate").val(dataItem.storePurchasingDate);//存储设备购买时间
        $("#storeMaintenanceDueTime").val(dataItem.storeMaintenanceDueTime);//存储设备维保到期时间
        $("#storeType").val(dataItem.storeType);//存储设备型号
        $("#storeIP").val(dataItem.storeIP);//存储设备IP
        $("#storeRemark").val(dataItem.storeRemark);//备注

        /*声明为 下拉 输入框样式并赋值*/
        //存储设备品牌
        var storeBrand= $("#storeBrand").data("kendoDropDownList");
        storeBrand.text(dataItem.storeBrand);
        //storeU数据储存方式为123-123,需要拆分
        var storeU=dataItem.storeU;//获取存储设备所在U
        var storeUs = storeU.split("-");//拆分
        var storeU1= $("#storeU1").data("kendoDropDownList");
        storeU1.value(storeUs[0]);
        var storeU2= $("#storeU2").data("kendoDropDownList");
        storeU2.value(storeUs[1]);
        compute();
        //所在机柜
        var storeEquipmentCabinet=$("#storeEquipmentCabinet").data("kendoDropDownList");
        storeEquipmentCabinet.text(dataItem.storeEquipmentCabinet);
       storeModelWnd.center().open();
    }
    //删除数据
    function delStoreModel(e){
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if(dataItem==undefined){
            dataItem=submitRecObj;
        }
        storeModelRecordId=dataItem.id;   //记录当前被选中的存储设备模板的id
        swal({
            title: "确认要删除该数据吗？",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#55c6dc",
            confirmButtonText: "删除",
            cancelButtonText: "取消",
            closeOnConfirm: true
        },function(){
            $.ajax({
                url:crudServiceBaseUrl+"/deleteStore/"+storeModelRecordId,
                dataType: "json",   //返回格式为json
                async: true,//同步，这也是ajax重要特性
                type: "GET",   //请求方式
                success:function(data){
                    setStoreModelGridDataSource();
                    setStoreModelGrid();
                }
            })
        });
    }
    //添加数据
    function addStoreModel(){
        $("#storeSerialNumber").val("");
        $("#storeSN").val("");
        $("#storeBrand").val("");
        $("#storeType").val("");
        $("#storeIP").val("");
        $("#storeEquipmentCabinet").val("");
        $("#storeU1").val("");
        $("#storeU2").val("");
        $("#storeRemark").val("");

        storeModelRecordId=0;//添加存储设备模板，模板id设为0.
        storeModelWnd.center().open();
    }

    //比较U1和U2的大小，进而提示U2须要大于U1
    function compare(){
        var storeU1Val= $("#storeU1").val();
        var storeU2Val= $("#storeU2").val();
         if(storeU1Val=="" || storeU2Val==""){
        }else{
        if(parseInt(storeU1Val)>parseInt(storeU2Val)){
          alert("后面下拉框中的值必须大于前面下拉框中的值！");
            return false;
        }
        else{
         compute();
         return true;
       }
     }
    }
    //计算U高度
    function compute(){
        var storeU1Val= $("#storeU1").val();
        var storeU2Val= $("#storeU2").val();
        var uHeight=storeU2Val-storeU1Val+1;
        $("#storeUHeight").html('共'+uHeight+'U高度');
        //document.getElementById('storeUHeight').innerHTML = '共'+uHeight+'U高度';
    }
    // 添加存储设备保存
    function submitStoreModel(){
        var storeSerialNumberVal= $("#storeSerialNumber").val();
        var storeSNVal= $("#storeSN").val();
        var storePurchasingDateVal= $("#storePurchasingDate").val();
        var storeMaintenanceDueTimeVal= $("#storeMaintenanceDueTime").val();
        var storeBrandVal= $("#storeBrand").val();
        var storeTypeVal= $("#storeType").val();
        var storeIPVal= $("#storeIP").val();
        var storeEquipmentCabinetVal= $("#storeEquipmentCabinet").val();
        var storeU1Val= $("#storeU1").val();
        var storeU2Val= $("#storeU2").val();
        var storeRemarkVal= $("#storeRemark").val();
        if(!validateIp(storeIPVal)){
            alert("IP地址格式不正确！");
            return;
        }
        if(storeSerialNumberVal==""||storeIPVal==""||storeEquipmentCabinetVal==""||storeU1Val==""||storeU2Val==""){
            alert("带有红色标记的为必填项");
            return;
        }else if(!compare()){}
        else{
            var submitStoreModelData={
                //提交当前行数据的所有数据
                id:storeModelRecordId,
                storeSerialNumber:storeSerialNumberVal,
                storeSN:storeSNVal,
                storePurchasingDate:storePurchasingDateVal,
                storeMaintenanceDueTime:storeMaintenanceDueTimeVal,
                storeBrand:storeBrandVal,
                storeType:storeTypeVal,
                storeIP:storeIPVal,
                storeEquipmentCabinet:storeEquipmentCabinetVal,
                storeU:storeU1Val+"-"+storeU2Val,
                storeRemark:storeRemarkVal

            };
            submitStoreModelAjax(crudServiceBaseUrl + "/createAndUpdateStore",submitStoreModelData);
        }
    }

    //提交数据至后台
    var submitRecObj=null;//提交记录对象
    function submitStoreModelAjax(submitURL,objData){
        $.ajax({
                    url:submitURL,
                    dataType: "json",   //返回格式为json
                    async: true,//同步，这也是ajax重要特性
                    type: "GET",   //请求方式
                    data:objData,
                    success:function(data){
                        submitRecObj=data;
                        $("#storeModelWnd").data("kendoWindow").close();
                        setStoreModelGridDataSource();
                        setStoreModelGrid();
                     }
                })
    }

    //关闭窗口
    $("#closeStoreModel").click( function (e) {
        $("#storeModelWnd").data("kendoWindow").close();
    });

       /*声明一级模板下拉框*/
    //根据品牌Id 获取品牌名称
    function getBrandNameById(id){
        var brandName;//品牌名称
        $.ajax({
            dataType:"json",
            url:dropDownListUrl + "/getBrandNameById/"+id,
            async:false,                       //是否异步：不异步，页面加载同时加载数据
            success:function(data){
                brandName=data.brandName;
            }
        });
        return brandName;
    }
    //根据Id获取应用名称
     function getApplicationNameById(id){
        var ApplicationName;//应用名称
        $.ajax({
            dataType:"json",
            url:dropDownListUrl + "/getApplicationNameById/"+id,
            async:false,                       //是否异步：不异步，页面加载同时加载数据
            success:function(data){
               ApplicationName=data.applicationName;
            }
        });
        return ApplicationName;
    }
    //根据Id获取所在U
     function getUNumberById(id){
        var UNumber;//所在U
        $.ajax({
            dataType:"json",
            url:dropDownListUrl + "/getUNumberById/"+id,
            async:false,                       //是否异步：不异步，页面加载同时加载数据
            success:function(data){
               UNumber=data.UNumber;
            }
        });
        return UNumber;
    }
     //根据Id获取所在机柜
     function getEquipmentCabinetNameById(id){
        var EquipmentCabinetName;//所在机柜
        $.ajax({
            dataType:"json",
            url:dropDownListUrl + "/getEquipmentCabinetNameById/"+id,
            async:false,                       //是否异步：不异步，页面加载同时加载数据
            success:function(data){
               EquipmentCabinetName=data.equipmentCabinetName;
            }
        });
        return EquipmentCabinetName;
    }
    //设置下拉列表
    function setDropDownList(){
          //存储设备品牌下拉列表
            $("#storeBrand").kendoDropDownList({
                optionLabel: "请选择...",
                dataTextField: "brandName",
                dataValueField: "id",
                dataSource: {
                    transport:{
                        read:{
                            dataType:"json",
                            url:dropDownListUrl + "/getAllBrands"
                        }
                    }
                 }
            });

        //所在机柜数据源
            $("#storeEquipmentCabinet").kendoDropDownList({
                optionLabel: "请选择...",
                dataTextField: "equipmentCabinetName",
                dataValueField: "id",
                dataSource: {
                    transport:{
                        read:{
                            dataType:"json",
                            url:dropDownListUrl + "/getAllEquipmentCabinets"
                        }
                    }
                 }
            });
            //所在U起始
             $("#storeU1").kendoDropDownList({
                            optionLabel: "请选择...",
                            dataTextField: "uName",
                            dataValueField: "uCode",
                            dataSource: {
                                transport:{
                                    read:{
                                        dataType:"json",
                                        url:dropDownListUrl + "/getAllUs"
                                    }
                                }
                             }
                        });
            //所在U结束
            $("#storeU2").kendoDropDownList({
                optionLabel: "请选择...",
                dataTextField: "uName",
                dataValueField: "uCode",
                dataSource: {
                    transport:{
                        read:{
                            dataType:"json",
                            url:dropDownListUrl + "/getAllUs"
                        }
                    }
                 }
            });
         //导出数据源
          var storeSelectionData= [
                        { text: "请选择", value: "0" },
                        { text: "存储设备1", value: "1" },
                        { text: "存储设备2", value: "2" },
                        { text: "存储设备3", value: "3" },
                        { text: "存储设备4", value: "4" },
                        { text: "存储设备5", value: "5" },
                    ];
            $("#storeSelection").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "value",
                dataSource: storeSelectionData,
                index: 0
            });

    }
     function setDatePicks(){
        $("#storePurchasingDate").kendoDatePicker({
            culture:"zh-CN"
       });
        $("#storeMaintenanceDueTime").kendoDatePicker({
            culture:"zh-CN"
       });
    }
    //程序入口
    $(function(){
        setStoreModelGridDataSource();   //调用设置存储设备模板 数据源函数
        setStoreModelGrid();              //调用设置存储设备模板 数据表函数
        setDropDownList();//加载下拉列表
        setDatePicks();//设置日历控件
        });
</script>
<script id="storeModel_toolbar" type="text/x-kendo-template">
    <button class="k-button k-button-icontext k-grid-add" id="storeModel_toolbar_queryBtn" onclick="addStoreModel();"><span class="k-icon k-add"></span>添加存储设备</button>   <!--添加存储设备-->
</script>
</body>
</html>
