<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title th:text="${title}"></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/dropzone.css" />
    <script th:replace="header :: header"></script>
    <link rel="stylesheet" href="/css/myTableCSS/myTableCSS.css"/>
    <link rel="stylesheet" href="/css/myTableCSS/wlsh.defult.css" title="Default Styles" media="screen"/>

</head>

<body>
<div th:replace="navbar :: navbar(${user})"></div>


<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
        <div th:replace="slider :: slidermenu(${'pj_sb_switchboard'})"></div>
        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="/">主页</a>
                    </li>
                    <li class="active">
                        <a href="#">监控管理配置</a>
                    </li>
                    <li class="active">
                        <a href="#">设备</a>
                    </li>
                    <li class="active">
                        <a href="#">交换机</a>
                    </li>
                </ul><!-- .breadcrumb -->
                <div class="nav-search" id="nav-search">
                    <span class="input-icon">
                        <input type="text" placeholder="搜索 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                        <i class="icon-search nav-search-icon"></i>
                    </span>
                </div><!-- #nav-search -->
            </div>
        </div><!-- /.main-content -->
        <div class="page-content">
            <div>
                <div class="col-xs-10">
                    <div id="switchboardModelGrid" style="position: absolute;width: 105%" ></div>
                </div>
            </div>
            <!--路由器模板-->
            <div id="switchboardModelWnd" style="display:none">
                <div>
                    <div style="margin-top: 10px">
                        <label style="margin-left: 52px" >交换机编号:</label>
                        <input  style="height:30px;width:400px" id="switchboardSerialNumber"/><label style="color: red;margin-left: 5px">*</label>
                    </div>
                    <div style="margin:10px">
                        <label style="margin-left: 36px" >交换机S/N号:</label>
                        <input  style="height:30px;width:400px" id="switchboardSN"/>
                    </div>
                    <div style="margin-top: 10px">
                        <label style="margin-left: 67px">购买时间:</label>
                        <input  style="height:30px;width:400px" id="switchboardPurchasingDate" placeholder="请选择..."/>

                    </div>

                    <div style="margin-top: 10px">

                        <label style="margin-left: 40px" >维保到期时间:</label>
                        <input  style="height:30px;width:400px" id="switchboardMaintenanceDueTime" placeholder="请选择..."/>

                    </div>
                    <div style="margin-top: 10px">
                        <label style="margin-left: 53px" >交换机品牌:</label>
                        <input  style="height:30px;width:400px"  id="switchboardBrand" />

                    </div>

                    <div style="margin-top: 10px">

                        <label style="margin-left: 52px" >交换机型号:</label>
                        <input  style="height:30px;width:400px" id="switchboardType"/>

                    </div>
                    <div style="margin-top: 10px">

                        <label style="margin-left: 65px" >交换机IP:</label>
                        <input  style="height:30px;width:400px" id="switchboardIP"/><label style="color: red;margin-left: 5px">*</label>

                    </div>
                    <div style="margin-top: 10px">

                        <label style="margin-left: 85px" >Group:</label>
                        <input  style="height:30px;width:400px" id="switchboardGroup"/><label style="color: red;margin-left: 5px">*</label>

                    </div>
                    <div style="margin-top: 10px">

                        <label style="margin-left: 92px" >SNMP:</label>
                        <input  style="height:30px;width:113px" id="switchboardSNMP"/>
                        <label style="margin-left: 100px" >端口号:</label>
                        <input  style="height:30px;width:119px" id="switchboardPort"/>

                    </div>
                    <div style="margin-top: 10px">

                        <label style="margin-left: 62px" >所在机柜:</label>
                        <input  style="height:30px;width:400px"  id="switchboardEquipmentCabinet" /><label style="color: red;margin-left: 5px">*</label>

                    </div>
                    <div style="margin-top: 10px">

                        <label style="margin-left: 82px" >所在U:</label>
                        <input  style="height:30px;width:100px"  id="switchboardU1" onchange="compare()"/><label style="color: red;margin-left: 5px">*</label>
                        ——
                        <input  style="height:30px;width:100px"  id="switchboardU2" onchange="compare()"/><label style="color: red;margin-left: 5px">*</label>
                        <lable style="margin-left:60px" id="switchboardUHeight">共 U高度</lable>

                    </div>
                    <div style="margin-top: 10px">

                        <label style="margin-left: 90px">备注:</label>
                        <textarea   style="margin-left: 2px;height:70px;width:400px" rows="5" cols="30" id="switchboardRemark" />

                    </div>

                    <div style="margin-left:190px;margin-top:20px;">
                        <button id="saveSwitchboardModel"  class="k-button" style="marginleft: 180px;"onclick="submitSwitchboardModel()">
                            <i class="icon-ok"></i>
                            保存
                        </button>
                        <button id="closeSwitchboardModel"  class="k-button" style="margin-left: 100px;" >
                            <i class="icon-remove"></i>
                            取消
                        </button>

                    </div>
                </div>
            </div>
            <div id="switchboardInputWnd" style="display:none">
                <div class="file-box">
                    <form action="" method="post" enctype="multipart/form-data">
                        <input type='file' name='textfield' style="margin-left:80px;margin-top:40px;height:25px" />
                    </form>
                    <button style="margin-left:400px;margin-top:25px;height:25px">导入</button>
                    <button id="closeSwitchboardFolder" style="margin-left:20px;margin-top:25px;height:25px">取消</button>
                </div>
            </div>
            <div id="switchboardOutputWnd" style="display:none">
                <div style="margin-top: 10px">
                    <label style="margin-left: 52px" >选择交换机:</label>
                    <input  style="margin-left: 10px;height:30px;width:400px" id="switchboardSelection"/><label style="color: red;margin-left: 5px">*</label>
                    <button style="margin-left:400px;margin-top:80px;height:25px">导出</button>
                    <button id="closeSwitchboardSelection" style="margin-left:20px;margin-top:80px;height:25px">取消</button>
                </div>
            </div>

        </div><!-- /.page-content -->
    </div><!-- /.main-container-inner -->
</div><!-- /.main-container -->

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>

<script src="/js/elementUseage.js"></script>

<script src='/assets/js/jquery-2.0.3.min.js'></script>

<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-2.0.3.min.js'>"+"<"+"script>");
</script>
<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"script>");
</script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/typeahead-bs2.min.js"></script>
<script src="/js/commonFunction.js"></script>

<script src="/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/js/jquery.slimscroll.min.js"></script>
<script src="/assets/js/jquery.easy-pie-chart.min.js"></script>
<script src="/assets/js/jquery.sparkline.min.js"></script>
<script src="/assets/js/flot/jquery.flot.min.js"></script>
<script src="/assets/js/flot/jquery.flot.pie.min.js"></script>
<script src="/assets/js/flot/jquery.flot.resize.min.js"></script>
<script src="/assets/js/dropzone.min.js"></script>



<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>

<script src="/js/console.js"></script>
<script src="/js/kendo.web.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script type="text/javascript" th:inline="javascript">

    var crudServiceBaseUrl ="/predictCenter/api/switchboard";  //根地址
    var dropDownListUrl="/predictCenter/api/dropDownList";//获取下拉列表的根路径
    var tabStrip = $("#tabStrip").kendoTabStrip().data("kendoTabStrip");      //切换grid

    /*声明dataSource*/
    var switchboardModelGridDataSource;
    /*声明弹出的窗体*/
    var switchboardModelWnd;
    var switchboardInputWnd;
    var switchboardOutputWnd;




    /*声明数据选中行的id*/
    var switchboardModelRecordId;
    /*服务器模板*/
    // 数据源
    function setSwitchboardModelGridDataSource(){
        switchboardModelGridDataSource=new kendo.data.DataSource({
            transport: {
                read:  {
                    url: crudServiceBaseUrl + "/getAllSwitchboards",
                    dataType: "json"
                }
            },
            batch: true,
            pageSize: 20,
            schema: {
                model: {
                    id: "id"
                }
            }
        });
    }
    //服务器模板 数据表
    function setSwitchboardModelGrid(){
        $("#switchboardModelGrid").kendoGrid({
            dataSource:switchboardModelGridDataSource,
            toolbar:[{template: kendo.template($("#switchboardModel_toolbar").html())},
                     {template: kendo.template($("#inputModel_toolbar").html())},
                     {template: kendo.template($("#outputModel_toolbar").html())}],
            columns:[
                {title: "<input type='checkbox'/>全选",template: '<input type="checkbox"/>'},
                { field:"switchboardSerialNumber",title:"交换机编号"},
                { field: "switchboardSN", title: "交换机S/N号",width:"8%",hidden:true},
                { field: "switchboardPurchasingDate", title: "购买时间",hidden:true},
                { field: "switchboardMaintenanceDueTime", title: "维保到期时间",hidden:true},
                { field: "switchboardBrand", title: "交换机品牌",template:"#=getBrandNameById(switchboardBrand)#",hidden:true},
                { field: "switchboardType", title: "交换机型号",hidden:true},
                { field: "switchboardIP", title: "交换机IP"},
                { field: "switchboardGroup", title: "Group",hidden:true},
                { field: "switchboardSNMP", title: "SNMP",width:"5%",hidden:true},
                { field: "switchboardPort", title: "端口号",width:"5%",hidden:true},
                { field: "switchboardEquipmentCabinet", title: "所在机柜",template:"#=getEquipmentCabinetNameById(switchboardEquipmentCabinet)#",hidden:true},
                { field: "switchboardU", title: "所在U",hidden:true},
                { field: "switchboardRemark", title: "备注",hidden:true},
                { command: [
                    {name:"view",text:"查看",
                    click:function(e){
                        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                        var url ="/predictCenter/switchboards/getSwitchboardViewInfo/"+dataItem.id+".html";
                        window.open(url);
                        }
                     },
                    {name:"viewQr",text:"二维码",
                        click:function(e){
                            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                            var url ="/predictCenter/switchboards/getSwitchboardQrCode/"+dataItem.id+".html";
                            window.open(url);
                        }
                    },
                    {text: "编辑", click: showSwitchboardModel },   //编辑窗体内容
                    { text: "删除",click:delSwitchboardModel }    //删除记录
                ] ,  title: "操作",width:"20%"}
            ],
            pageable: {
                buttonCount:3,
                input: true,
                messages:{
                    display:"共{2}条记录",
                    first:"第一页",
                    last:"最后一页",
                    next:"下一页",
                    previous:"前一页",
                    morePages:"更多页",
                    refresh:"刷新表格",
                    empty:"没有数据",
                    itemsPerPage:"项数据每页",
                    page:"第",
                    of:"页"
                }
            },
            selectable: "row"
        });
        //添加及查看模板窗体 郑霞 20160115
        switchboardModelWnd = $("#switchboardModelWnd").kendoWindow({
            title: "交换机信息",
            modal: true,
            visible: false,
            resizable: false,
            width: 630,
            height:700
        }).data("kendoWindow");

        //导入模板窗体 郑霞 20160115
         switchboardInputWnd = $("#switchboardInputWnd").kendoWindow({
            title: "导入",
            modal: true,
            visible: false,
            resizable: false,
            width: 600,
            height:150
        }).data("kendoWindow");
        //导出模板窗体 郑霞 20160115
         switchboardOutputWnd = $("#switchboardOutputWnd").kendoWindow({
            title: "导出",
            modal: true,
            visible: false,
            resizable: false,
            width: 600,
            height:200
        }).data("kendoWindow");
    }


    //编辑弹窗
    function showSwitchboardModel(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        switchboardModelRecordId=dataItem.id;//记录当前被选中的交换机模板的id
        $("#switchboardSerialNumber").val(dataItem.switchboardSerialNumber);//交换机编号
        $("#switchboardSN").val(dataItem.switchboardSN);//交换机序列号
        $("#switchboardPurchasingDate").val(dataItem.switchboardPurchasingDate);//交换机购买时间
        $("#switchboardMaintenanceDueTime").val(dataItem.switchboardMaintenanceDueTime);//交换机维保到期时间
        $("#switchboardType").val(dataItem.switchboardType);//交换机型号
        $("#switchboardIP").val(dataItem.switchboardIP);//交换机IP
        $("#switchboardGroup").val(dataItem.switchboardGroup);
        $("#switchboardSNMP").val(dataItem.switchboardSNMP);//交换机SNMP
        $("#switchboardPort").val(dataItem.switchboardPort);//服务器端口
        $("#switchboardRemark").val(dataItem.switchboardRemark);//备注

        /*声明为 下拉 输入框样式并赋值*/
        //交换机品牌
        var switchboardBrand= $("#switchboardBrand").data("kendoDropDownList");
        switchboardBrand.value(dataItem.switchboardBrand);
        //switchboardU数据储存方式为123-123,需要拆分
        var switchboardU=dataItem.switchboardU;//获取交换机所在U
        var switchboardUs = switchboardU.split("-");//拆分
        var switchboardU1= $("#switchboardU1").data("kendoDropDownList");
        switchboardU1.value(switchboardUs[0]);
        var switchboardU2= $("#switchboardU2").data("kendoDropDownList");
        switchboardU2.value(switchboardUs[1]);
        compute();
        //所在机柜
        var switchboardEquipmentCabinet=$("#switchboardEquipmentCabinet").data("kendoDropDownList");
        switchboardEquipmentCabinet.value(dataItem.switchboardEquipmentCabinet);

       switchboardModelWnd.center().open();
    }
    //删除数据
    function delSwitchboardModel(e){
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        switchboardModelRecordId=dataItem.id;   //记录当前被选中的交换机模板的id
        swal({
            title: "确认要删除该数据吗？",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#55c6dc",
            confirmButtonText: "删除",
            cancelButtonText: "取消",
            closeOnConfirm: true
        },function(){
            $.ajax({
                url:crudServiceBaseUrl+"/deleteSwitchboard/"+switchboardModelRecordId,
                dataType: "json",   //返回格式为json
                async: true,//同步，这也是ajax重要特性
                type: "GET",   //请求方式
                success:function(data){
                    setSwitchboardModelGridDataSource();
                    setSwitchboardModelGrid();
                }
            })
        });
    }
    //添加数据
    function addSwitchboardModel(){
        $("#switchboardSerialNumber").val("");
        $("#switchboardSN").val("");
        $("#switchboardBrand").val("");
        $("#switchboardType").val("");
        $("#switchboardIP").val("");
        $("#switchboardGroup").val("");
        $("#switchboardSNMP").val("");
        $("#switchboardPort").val("");
        $("#switchboardEquipmentCabinet").val("");
        $("#switchboardU1").val("");
        $("#switchboardU2").val("");
        $("#switchboardRemark").val("");

        switchboardModelRecordId=0;//添加交换机模板，模板id设为0.
        switchboardModelWnd.center().open();
    }
    //导入
    function addSwitchboardInputModel(){
        switchboardInputWnd.center().open();
    }
    //导出
     function addSwitchboardOutputModel(){
        switchboardOutputWnd.center().open();
    }
      //比较U1和U2的大小，进而提示U2须要大于U1
    function compare(){
        var switchboardU1Val= $("#switchboardU1").val();
        var switchboardU2Val= $("#switchboardU2").val();
         if(switchboardU1Val=="" || switchboardU2Val==""){
        }else{
        if(parseInt(switchboardU1Val)>parseInt(switchboardU2Val)){
          alert("后面下拉框中的值必须大于前面下拉框中的值！");
            return false;
        }
        else{
          compute();
          return true;
        }
       }
      }
     //计算U高度
    function compute(){
        var switchboardU1Val= $("#switchboardU1").val();
        var switchboardU2Val= $("#switchboardU2").val();
        var uHeight=switchboardU2Val-switchboardU1Val+1;
        $("#switchboardUHeight").html('共'+uHeight+'U高度');
        //document.getElementById('switchboardUHeight').innerHTML = '共'+uHeight+'U高度';
    }
     // 添加交换机保存
    function submitSwitchboardModel(){
        var switchboardSerialNumberVal= $("#switchboardSerialNumber").val();
        var switchboardSNVal= $("#switchboardSN").val();
        var switchboardPurchasingDateVal= $("#switchboardPurchasingDate").val();
        var switchboardMaintenanceDueTimeVal= $("#switchboardMaintenanceDueTime").val();
        var switchboardBrandVal= $("#switchboardBrand").val();
        var switchboardTypeVal= $("#switchboardType").val();
        var switchboardIPVal= $("#switchboardIP").val();
        var switchboardGroupVal= $("#switchboardGroup").val();
        var switchboardSNMPVal= $("#switchboardSNMP").val();
        var switchboardPortVal= $("#switchboardPort").val();
        var switchboardEquipmentCabinetVal= $("#switchboardEquipmentCabinet").val();
        var switchboardU1Val= $("#switchboardU1").val();
        var switchboardU2Val= $("#switchboardU2").val();
        var switchboardRemarkVal= $("#switchboardRemark").val();
        if(!validateIp(switchboardIPVal)){
            alert("IP地址格式不正确！");
            return;
        }
        if(switchboardSerialNumberVal==""||switchboardIPVal==""||switchboardGroupVal==""||switchboardEquipmentCabinetVal==""||switchboardU1Val==""||switchboardU2Val==""){
            alert("带有红色标记的为必填项");
            return;
        }else if(!compare()){}
        else{
            var submitSwitchboardModelData={
                //提交当前行数据的所有数据
                id:switchboardModelRecordId,
                switchboardSerialNumber:switchboardSerialNumberVal,
                switchboardSN:switchboardSNVal,
                switchboardPurchasingDate:switchboardPurchasingDateVal,
                switchboardMaintenanceDueTime:switchboardMaintenanceDueTimeVal,
                switchboardBrand:switchboardBrandVal,
                switchboardType:switchboardTypeVal,
                switchboardIP:switchboardIPVal,
                switchboardGroup:switchboardGroupVal,
                switchboardSNMP:switchboardSNMPVal,
                switchboardPort:switchboardPortVal,
                switchboardEquipmentCabinet:switchboardEquipmentCabinetVal,
                switchboardU:switchboardU1Val+"-"+switchboardU2Val,
                switchboardRemark:switchboardRemarkVal

            };
            submitSwitchboardModelAjax(crudServiceBaseUrl + "/createAndUpdateSwitchboard",submitSwitchboardModelData);
        }
    }
    //导入保存
    function submitSwitchboardFolder(){
        var SwitchboardFolderVal= $("#SwitchboardFolder").val();
        if(SwitchboardFolderVal==""){
            alert("带有红色标记的为必填项");
            return;
        }else{
            var submitSwitchboardFolderData={
                //提交当前行数据的所有数据
                id:switchboardModelRecordId,
                SwitchboardFolder:SwitchboardFolderVal
                };
                submitSwitchboardFolderAjax(crudServiceBaseUrl + "/createSwitchboard",submitSwitchboardFolderData);
         }
    }
    //提交数据至后台
    function submitSwitchboardModelAjax(submitURL,objData){
        $.ajax({
                    url:submitURL,
                    dataType: "json",   //返回格式为json
                    async: true,//同步，这也是ajax重要特性
                    type: "GET",   //请求方式
                    data:objData,
                    success:function(data){
                        $("#switchboardModelWnd").data("kendoWindow").close();
                        setSwitchboardModelGridDataSource();
                        setSwitchboardModelGrid();
                     }
                })
    }
    //提交导入数据至后台
    function submitSwitchboardFolderAjax(submitURL,objData){
        $.ajax({
                    url:submitURL,
                    dataType: "json",   //返回格式为json
                    async: true,//同步，这也是ajax重要特性
                    type: "GET",   //请求方式
                    data:objData,
                    success:function(data){
                        $("#switchboardFolderWnd").data("kendoWindow").close();
                        setSwitchboardModelGridDataSource();
                        setSwitchboardModelGrid();
                     }
                })
    }


    //关闭窗口
    $("#closeSwitchboardModel").click( function (e) {
        $("#switchboardModelWnd").data("kendoWindow").close();
    });
    //取消导入
    $("#closeSwitchboardFolder").click( function (e) {
        $("#switchboardInputWnd").data("kendoWindow").close();
    });
    //取消导出
     $("#closeSwitchboardSelection").click( function (e) {
        $("#switchboardOutputWnd").data("kendoWindow").close();
    });

       /*声明一级模板下拉框*/
    //根据品牌Id 获取品牌名称
    function getBrandNameById(id){
        var brandName;//品牌名称
        $.ajax({
            dataType:"json",
            url:dropDownListUrl + "/getBrandNameById/"+id,
            async:false,                       //是否异步：不异步，页面加载同时加载数据
            success:function(data){
                brandName=data.brandName;
            }
        });
        return brandName;
    }
    //根据Id获取应用名称
     function getApplicationNameById(id){
        var ApplicationName;//应用名称
        $.ajax({
            dataType:"json",
            url:dropDownListUrl + "/getApplicationNameById/"+id,
            async:false,                       //是否异步：不异步，页面加载同时加载数据
            success:function(data){
               ApplicationName=data.applicationName;
            }
        });
        return ApplicationName;
    }
     //根据Id获取所在U
     function getUNumberById(id){
        var UNumber;//所在U
        $.ajax({
            dataType:"json",
            url:dropDownListUrl + "/getUNumberById/"+id,
            async:false,                       //是否异步：不异步，页面加载同时加载数据
            success:function(data){
               UNumber=data.UNumber;
            }
        });
        return UNumber;
    }
    //根据Id获取所在机柜
     function getEquipmentCabinetNameById(id){
        var EquipmentCabinetName;//所在机柜
        $.ajax({
            dataType:"json",
            url:dropDownListUrl + "/getEquipmentCabinetNameById/"+id,
            async:false,                       //是否异步：不异步，页面加载同时加载数据
            success:function(data){
               EquipmentCabinetName=data.equipmentCabinetName;
            }
        });
        return EquipmentCabinetName;
    }
    //设置下拉列表
    function setDropDownList(){
          //交换机品牌下拉列表
        $("#switchboardBrand").kendoDropDownList({
                optionLabel: "请选择...",
                dataTextField: "brandName",
                dataValueField: "id",
                dataSource: {
                    transport:{
                        read:{
                            dataType:"json",
                            url:dropDownListUrl + "/getBrandsByType/3"
                        }
                    }
                 }
            });
            //所在U起始
             $("#switchboardU1").kendoDropDownList({
                            optionLabel: "请选择...",
                            dataTextField: "uName",
                            dataValueField: "uCode",
                            dataSource: {
                                transport:{
                                    read:{
                                        dataType:"json",
                                        url:dropDownListUrl + "/getAllUs"
                                    }
                                }
                             }
                        });
            //所在U结束
            $("#switchboardU2").kendoDropDownList({
                optionLabel: "请选择...",
                dataTextField: "uName",
                dataValueField: "uCode",
                dataSource: {
                    transport:{
                        read:{
                            dataType:"json",
                            url:dropDownListUrl + "/getAllUs"
                        }
                    }
                 }
            });
        //所在机柜数据源
            $("#switchboardEquipmentCabinet").kendoDropDownList({
                optionLabel: "请选择...",
                dataTextField: "equipmentCabinetName",
                dataValueField: "id",
                dataSource: {
                                transport:{
                                    read:{
                                        dataType:"json",
                                        url:dropDownListUrl + "/getAllEquipmentCabinets"
                                    }
                                }
                             }
                        });
         //导出数据源
          var switchboardSelectionData= [
                        { text: "请选择", value: "0" },
                        { text: "服务器1", value: "1" },
                        { text: "服务器2", value: "2" },
                        { text: "服务器3", value: "3" },
                        { text: "服务器4", value: "4" },
                        { text: "服务器5", value: "5" },
                    ];
            $("#switchboardSelection").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "value",
                dataSource: switchboardSelectionData,
                index: 0
            });

    }
     function setDatePicks(){
        $("#switchboardPurchasingDate").kendoDatePicker({
            culture:"zh-CN"
       });
        $("#switchboardMaintenanceDueTime").kendoDatePicker({
            culture:"zh-CN"
       });
    }
    //程序入口
    $(function(){
        setSwitchboardModelGridDataSource();   //调用设置交换机模板 数据源函数
        setSwitchboardModelGrid();              //调用设置交换机模板 数据表函数
        setDropDownList();//加载下拉列表
        setDatePicks();//设置日历控件
        });


</script>

<script id="switchboardModel_toolbar" type="text/x-kendo-template">
    <button class="k-button k-button-icontext k-grid-add" id="switchboardModel_toolbar_queryBtn" onclick="addSwitchboardModel();"><span class="k-icon k-add"></span>添加交换机</button>   <!--添加交换机-->

</script>
<script id="inputModel_toolbar" type="text/x-kendo-template">
    <button class="k-button k-button-icontext k-grid-add" id="inputModel_toolbar_queryBtn" onclick="addSwitchboardInputModel();"><span class="k-icon k-add"></span>导入</button>   <!--导入-->

</script>

<script id="outputModel_toolbar" type="text/x-kendo-template">
    <button class="k-button k-button-icontext k-grid-add" id="output_toolbar_queryBtn" onclick="addSwitchboardOutputModel();"><span class="k-icon k-add"></span>导出</button>   <!--导出-->

</script>
</body>
</html>
