<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title th:text="${title}"></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/dropzone.css" />


    <script th:replace="header :: header"></script>


    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/css/myTableCSS/myTableCSS.css"/>
    <link rel="stylesheet" href="/css/myTableCSS/wlsh.defult.css" title="Default Styles" media="screen"/>

</head>

<body>
<div th:replace="navbar :: navbar(${user})"></div>


<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
        <div th:replace="slider :: slidermenu(${'pj_pz_brand'})"></div>
        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="/">主页</a>
                    </li>
                    <li class="active">
                        <a href="#">监控管理配置</a>
                    </li>
                    <li class="active">
                        <a href="#">系统配置</a>
                    </li>
                </ul><!-- .breadcrumb -->
                <div class="nav-search" id="nav-search">
                    <span class="input-icon">
                        <input type="text" placeholder="搜索 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                        <i class="icon-search nav-search-icon"></i>
                    </span>
                </div><!-- #nav-search -->
            </div>
        </div><!-- /.main-content -->
        <div class="page-content">
                <div class="col-xs-10 ">
                    <div id="brandModelGrid" style="position: absolute;width: 105%"></div>
                </div>
            <!--品牌模板-->
            <div id="brandModelWnd" style="display:none" >
                <div>
                    <div style="margin-top: 10px">
                        <label style="margin-left: 53px" >品牌名称:</label>
                        <input  style="margin-left: 10px;height:30px;width:400px"  id="systemBrandName" /><label style="color: red;margin-left: 5px">*</label>

                    </div>
                    <div style="margin-left:190px;margin-top:20px;">
                        <button id="saveBrandModel"  class="k-button btn-info" style="margin-left: 162px;color: white"onclick="submitBrandModel()">
                            <i class="icon-ok"></i>
                            保存
                        </button>
                        <button id="closeBrandModel"  class="k-button btn-danger" style="margin-left: 30px;color: white" >
                            <i class="icon-remove"></i>
                            取消
                        </button>

                    </div>
                </div>
            </div>


        </div><!-- /.page-content -->
    </div><!-- /.main-container-inner -->
</div><!-- /.main-container -->

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>

<script src="/js/elementUseage.js"></script>

<script src='/assets/js/jquery-2.0.3.min.js'></script>

<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-2.0.3.min.js'>"+"<"+"script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"script>");
</script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src="/assets/js/excanvas.min.js"></script>
<![endif]-->

<script src="/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/js/jquery.slimscroll.min.js"></script>
<script src="/assets/js/jquery.easy-pie-chart.min.js"></script>
<script src="/assets/js/jquery.sparkline.min.js"></script>
<script src="/assets/js/flot/jquery.flot.min.js"></script>
<script src="/assets/js/flot/jquery.flot.pie.min.js"></script>
<script src="/assets/js/flot/jquery.flot.resize.min.js"></script>
<script src="/assets/js/dropzone.min.js"></script>




<!--[if lt IE 9]>
<script type="text/javascript" src="/js/jSingnature/libs/flashcanvas.js"></script>
<![endif]-->
<!-- ace scripts -->

<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>

<script src="/js/console.js"></script>
<script src="/js/kendo.web.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script type="text/javascript" th:inline="javascript">

    var crudServiceBaseUrl ="/predictCenter/api/systemBrand";  //根地址
    var dropDownListUrl="/predictCenter/api/dropDownList";//获取下拉列表的根路径
    var tabStrip = $("#tabStrip").kendoTabStrip().data("kendoTabStrip");      //切换grid

    /*声明dataSource*/
    var brandGridDataSource
    var brandModelGridDataSource;
    /*声明弹出的窗体*/
    var brandModelWnd;

    /*声明数据选中行的id*/
    var brandModelRecordId;

    /*品牌模板*/
    // 数据源
    function setBrandModelGridDataSource(){
        brandModelGridDataSource=new kendo.data.DataSource({
            transport: {
                read:  {
                    url: crudServiceBaseUrl + "/getAllSystemBrands",
                    dataType: "json"
                }
            },
            batch: true,
            pageSize: 20,
            schema: {
                model: {
                    id: "id"
                }
            }
        });
    }

    //品牌模板 数据表
    function setBrandModelGrid(){
        $("#brandModelGrid").kendoGrid({
            dataSource:brandModelGridDataSource,
            toolbar:[{template: kendo.template($("#brandModel_toolbar").html())}],
            columns:[
                { field: "brandName", title: "品牌名称"},
                { command: [
                    {text: "编辑", click: showBrandModel,className:"btn btn-info" },   //编辑窗体内容
                    { text: "删除",click:delBrandModel,className:"btn btn-danger " }    //删除记录
                ] ,  title: "操作"}
            ],
            pageable: {
                buttonCount:3,
                input: true,
                messages:{
                    display:"共{2}条记录",
                    first:"第一页",
                    last:"最后一页",
                    next:"下一页",
                    previous:"前一页",
                    morePages:"更多页",
                    refresh:"刷新表格",
                    empty:"没有数据",
                    itemsPerPage:"项数据每页",
                    page:"第",
                    of:"页"
                }
            },
            selectable: "row"
        });
        //添加及查看模板窗体 郑霞 20160115
        brandModelWnd = $("#brandModelWnd").kendoWindow({
            title: "品牌信息",
            modal: true,
            visible: false,
            resizable: false,
            width: 630,
            height:140
        }).data("kendoWindow");
    }



    //查看品牌弹窗
    function showBrandModel(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if(dataItem==undefined){
            dataItem=submitRecObj;
        }
        brandModelRecordId=dataItem.id;//记录当前被选中的品牌模板的id
        $("#systemBrandName").val(dataItem.brandName);//品牌名称
        brandModelWnd.center().open();
    }
    //删除品牌数据
    function delBrandModel(e){
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if(dataItem==undefined){
            dataItem=submitRecObj;
        }
        brandModelRecordId=dataItem.id;   //记录当前被选中的品牌模板的id
        swal({
            title: "确认要删除该数据吗？",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#55c6dc",
            confirmButtonText: "删除",
            cancelButtonText: "取消",
            closeOnConfirm: true
        },function() {
            $.ajax({
                url: crudServiceBaseUrl + "/deleteSystemBrand/" + brandModelRecordId,
                dataType: "json",   //返回格式为json
                async: true,//同步，这也是ajax重要特性
                type: "GET",   //请求方式
                success: function (data) {
                    setBrandModelGridDataSource();
                    setBrandModelGrid();
                }
            })
        });
   }

    //添加品牌数据
    function addBrandModel(){
        $("#systemBrandName").val("");

        brandModelRecordId=0;//添加品牌模板，模板id设为0.
        brandModelWnd.center().open();
    }
    // 添加品牌保存
    function submitBrandModel(){
        var brandNameVal= $("#systemBrandName").val();

        if(brandNameVal==""){
            alert("带有红色标记的为必填项");
            return ;
            }else{
            var submitBrandModelData={
                //提交当前行数据的所有数据
                id:brandModelRecordId,
                brandName:brandNameVal
            };
            submitBrandModelAjax(crudServiceBaseUrl + "/createAndUpdateSystemBrand",submitBrandModelData);
        }
    }
    //提交品牌数据至后台
    var submitRecObj=null;//提交记录对象
    function submitBrandModelAjax(submitURL,objData){
        $.ajax({
                    url:submitURL,
                    dataType: "json",   //返回格式为json
                    async: true,//同步，这也是ajax重要特性
                    type: "GET",   //请求方式
                    data:objData,
                    success:function(data){
                        submitRecObj=data;
                        $("#brandModelWnd").data("kendoWindow").close();
                        setBrandModelGridDataSource();
                        setBrandModelGrid();
                     }
                })
    }

    //关闭品牌窗口
    $("#closeBrandModel").click( function (e) {
            $("#brandModelWnd").data("kendoWindow").close();
    });

    //程序入口
    $(function(){
        var tabStrip = $("#tabstrip").kendoTabStrip().data("kendoTabStrip");
        //品牌
        setBrandModelGridDataSource();   //调用设置应用模板 数据源函数
        setBrandModelGrid();              //调用设置应用模板 数据表函数
     });
</script>
<script id="brandModel_toolbar" type="text/x-kendo-template">
    <button class="k-button k-button-icontext k-grid-add" id="brandModel_toolbar_queryBtn" onclick="addBrandModel();"><span class="k-icon k-add"></span>添加品牌</button>   <!--添加品牌-->
</script>
</body>
</html>
